.nm-card {
    cursor: pointer;
    font-size: 0.6rem;
    background: transparent;
    border: 4px solid #353535;
    border-radius: 1%;
    width: 186px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 0.2%;
    float: left;
    text-align: center;

    @media (max-width: 900px) and (orientation:portrait) {
        width: 43vw;
        margin: 4% 1% 0% 2%;
    }

    @media (max-width:900px) and (orientation:landscape) {
        width: 165px;
    }

    @media (min-width: 1666px) {
        width: 11.2rem;
    }
}


.nm-card .info .title2 {
    color: #fff;
    background: #040404;
}

.nm-card .info .counter {
    background: #323232;
}

.nm-card .progress-text {
    color: #fff;
    background-color: unset;
}

.nm-card .progress div {
    color: #fff;
}

.card {
    background-color: #404040;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header {
    background-color: rgba(0, 0, 0, 0.2);
}


.nm-card .index {
    display: none;
}

.nm-card .poster {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    min-height: 16.0rem;

    @media (max-width:900px) and (orientation:portrait) {
        min-height: 14.2rem;
    }

    @media (max-width:900px) and (orientation:landscape) {
        width: 165px;
        min-height: 14.7rem;
    }
}

.nm-card .button-box {
    position: absolute;
    bottom: 35px;
    padding: 0px;
    width: 100%;
    z-index: 3;
}


.nm-card .info .title2 {
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 22px;
    line-height: 20px;
    overflow-wrap: break-word;
    padding: 0 3px;
    width: 100%;
    font-size: 10px;
    font-weight: 600;
}

.nm-card .info .counter {
    height: 16px;
    width: 100%;
    position: relative;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    background: black;
    border: none !important;
}

.nm-card .progress {
    position: absolute;
    height: 16px;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.nm-card .progress-text {
    position: absolute;
    z-index: 1;
    text-align: center;
    background: padding-box;
    width: 100%;
    min-inline-size: -webkit-max-content;
    min-inline-size: -moz-max-content;
    min-inline-size: max-content;
    font-weight: 700;
    font-size: 12px;
    margin: -1px;
}

.nm-card .progress div {
    margin: auto;
}

.nm-card .button-box .badge {
    float: right;
    padding: .2rem .3rem;
    margin-bottom: 0;
    font-weight: 600;
    margin: .1rem;
    text-align: center;
    white-space: nowrap;
    border-radius: .25rem;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2) 49%, rgba(0, 0, 0, 0.15) 51%, rgba(0, 0, 0, 0.05));
    color: #fff;
    font-size: x-small;
    text-shadow: 0 0 2px #242424, 0 0 2px #242424, 0 0 2px #242424, 0 0 2px #242424, 0 0 2px #242424, 0 0 2px #242424, 0 0 2px #242424, 0 0 2px #242424 !important;
}


.SD,
.SDDVD,
.SDTV {
    background-color: #be2625;
}

.HD,
.HDTV {
    background-color: #2672b6;
}

.HD720P {
    background-color: #5b990d;
}

.HD1080P {
    background-color: #2672b6;
}

.UHD1080P {
    background-color: #861e92;
}

.UHD4K {
    background-color: #7500ff;
}

.UHD8K {
    background-color: #410077;
}

.Custom {
    background-color: #621993;
}

.Any {
    background-color: #666;
}

.Unknown {
    background-color: #000;
    color: #fff;
}
