.ytp-contextmenu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2300;
    text-align: left;
    direction: ltr;
    font-size: 11px;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    will-change: width, height;
}

.ytp-contextmenu a,
.ytp-contextmenu a:focus,
.ytp-contextmenu a:hover {
    color: inherit;
    text-decoration: none;
}

.ytp-html5-clipboard {
    top: 0;
    left: 100%;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
}

.ytp-menuitem {
    display: table-row;
    cursor: default;
    outline: none;
    height: 33px;
}

a.ytp-menuitem:not([aria-disabled=true]) {
    cursor: pointer;
}

a.ytp-menuitem:not([aria-disabled=true]):hover {
    background-color: rgba(255, 255, 255, .1);
}

.ytp-menuitem-label {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
}

.ytp-menuitem-icon {
    display: table-cell;
    vertical-align: middle;
}

.ytp-menuitem-content {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
}

.ytp-menuitem-label {
    padding-left: 0;
}

.ytp-menuitem-icon {
    padding: 0 5px 0 10px;
}

.ytp-menuitem-label {
    font-size: 118%;
    font-weight: 600;
}

.ytp-menuitem-content {
    font-size: 109%;
    text-align: right;
}

.ytp-panel {
    bottom: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.ytp-popup {
    overflow: hidden;
    border-radius: 2px;
    background: rgba(28, 28, 28, 0.9);
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);
    -moz-transition: opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
    -webkit-transition: opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
    transition: opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.ytp-menuitem-toggle-checkbox {
    height: 14px;
    width: 36px;
    float: right;
    position: relative;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.3);
    -moz-transition: all .08s cubic-bezier(0.4, 0.0, 1, 1);
    -webkit-transition: all .08s cubic-bezier(0.4, 0.0, 1, 1);
    transition: all .08s cubic-bezier(0.4, 0.0, 1, 1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.ytp-contextmenu .ytp-menuitem-toggle-checkbox {
    width: 14px;
}

.ytp-contextmenu .ytp-menuitem .ytp-menuitem-toggle-checkbox {
    background: none;
}

.ytp-contextmenu .ytp-menuitem-toggle-checkbox:after {
    content: none;
}

.ytp-menuitem-toggle-checkbox:after {
    content: '';
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-top: -3px;
    background-color: #bdbdbd;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
    -moz-transition: all .08s cubic-bezier(0.4, 0.0, 1, 1);
    -webkit-transition: all .08s cubic-bezier(0.4, 0.0, 1, 1);
    transition: all .08s cubic-bezier(0.4, 0.0, 1, 1);
}

.ytp-panel-menu {
    padding: 6px 0;
    display: table;
    width: 100%;
    color: #eee;
    box-sizing: border-box;
}
