form {
    li,
    input,
    option,
    input:focus,
    input::placeholder,
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        box-shadow: 0 0 0px 0px #9f7aea ;
        -webkit-text-fill-color: #9f7aea ;
        -webkit-box-shadow: 0 0 0px 0 transparent inset;
        transition: background-color 5000s ease-in-out 0s;
        color: #9f7aea ;
    }
}

input[type='checkbox'] {
    z-index: -1;
    margin-top: -30px;
}

input[type='checkbox'] {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    width: 13px;
    height: 13px;
    margin: 0;
    margin-right: 1px;
    display: block;
    float: left;
    position: relative;
    cursor: pointer;
    background: #fff;
}

input[type='checkbox']:after {
    content: "";
    vertical-align: middle;
    text-align: center;
    line-height: 13px;
    position: absolute;
    cursor: pointer;
    height: 13px;
    width: 13px;
    left: 0;
    top: 0;
    font-size: 10px;
    background: #fff;
}

input,
optgroup,
option,
select,
textarea {
    box-shadow: 0 0 0px 0px #9f7aea;
    -webkit-box-shadow: 0 0 0px 0 transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    color: #9f7aea;

}

.form-input:focus {
    outline: none;
    box-shadow: none;
}


.toggle__line {
    background: #404040;
}

input:checked~.toggle__line {
    background: #9a1dce;
}

.toggle__dot {
    /* top: -.25rem; */
    left: -.25rem;
    transition: all 0.3s ease-in-out;
}

input:checked~.toggle__dot {
    transform: translateX(100%);
}



input[type='checkbox']:hover:after,
input[type='checkbox']:checked:hover:after {
    background: #9a1dce linear-gradient(0deg, #9a1dce 0%, #9a1dce 100%);
    color: #9f7aea ;
}

input[type='checkbox']:checked:after {
    background: #9a1dce linear-gradient(0deg, #9a1dce 0%, #9a1dce 100%);
    color: #fff;
}

li {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


select option:hover {
    background: #9a1dce linear-gradient(0deg, #9a1dce 0%, #9a1dce 100%);
    -webkit-text-fill-color: #fff;
}

option:checked,
option:focus {
    background: #9a1dce linear-gradient(0deg, #9a1dce 0%, #9a1dce 100%);
    -webkit-text-fill-color: #fff;
}

select:focus option:checked {
    background: #9a1dce linear-gradient(0deg, #9a1dce 0%, #9a1dce 100%);
}


.s-hidden {
    visibility: hidden;
    padding-right: 10px;
}

.select {
    box-shadow: 0 0 0px 0px #9f7aea ;
    -webkit-text-fill-color: #9f7aea;
    -webkit-box-shadow: 0 0 0px 0 #9f7aea inset;
    background: #34263a linear-gradient(0deg, #404040 0%, #404040 100%);
}

.styledSelect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #404040;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    padding-top: 0.2rem;
    padding-right: 0.75rem;
    padding-bottom: 0.2rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.styledSelect:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 9px;
    right: 6px;
}

.styledSelect:active,
.styledSelect.active {
    background-color: #404040;
}

// .options {
//     position: absolute;
//     right: 0;
//     left: 0;
//     z-index: 999;
//     margin: 0 0;
//     padding: 0 0;
//     list-style: none;
//     background-color: #404040;
//     color: #fff ;
// }

// .options li {
//     padding: 0 6px;
//     margin: 0 0;
//     padding: 0 10px;
//     -webkit-text-fill-color: #fff;
// }

// .options li:hover {
//     background-color: #9a1dce;
//     -webkit-text-fill-color: #fff;
// }
