$color: #9a1dce;
$color-visited: #611681;


@font-face {
    font-family: "Netflix Sans";
    font-display: swap;
    src: url('/fonts/NetflixSans_W_Rg.woff2') format('woff2'),
        url('/fonts/NetflixSans_W_Md.woff2') format('woff2'),
        url('/fonts/NetflixSans_W_Md.woff') format('woff');
}


body {
    font-family: "Netflix Sans";
    overflow: auto;
    font-weight: normal;
    font-style: normal;
    max-width: 100vw !important;

    @media (min-width: 1633px) {
        body {
            overflow-y: hidden;
        }
    }
}

li a svg {
    position: relative;
    top: 0;
    left: 0;
    width: 170px;
    overflow: visible;
    @media (max-width: 900px) {
        position: absolute;
        padding-top: 0;
    }
}

footer {
    bottom: 0;
    width: 100%;
    position: relative;
}
li {
    list-style: none;
}
nav {
    z-index: 2;
    div{
        overflow: hidden;
    }
    ul {
        li {
            position: relative;
            button {
                position: absolute;
                right: 4%;
                top: -5px;
                width: 40px;
                padding: 1%;
                background: #4a5568;
                &::after {
                    content: "\2630";
                    color: #fff;
                }
            }
            :hover {
                text-decoration: none;
                background: #00000038;
                border-radius: 50px;
            }
        }
    }
    a {
        font-family: "Netflix Sans";
        i{
            font-size: 25px;
            position: inherit;
            margin-top: -10px;
        }
    }
    .navSearch {
        right: 250px;
    }
    @media (max-width: 576px) {
        .content {
            padding-top: 51px;
        }

        .navSearch {
            right: 20%;
        }
    }

    @media (min-width: 577px) {
        .pt-scroll {
            padding-top: 51px;
        }

        .nav-sticky {
            position: fixed!important;
            min-width: 100%;
            top: 0;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
            transition: all .25s ease-in;
            z-index: 1;
        }
    }

}

#results {
    z-index: -1;
    height: calc(100vh - 4rem);
    @media (max-width: 800px) {
        width: 100vw;
        left: 0;
        margin-top: 4rem;
    }
}

#search {
    width: 40px;
    transition: all .3s ease-in-out;
    @media (max-width: 800px) {
        width: 40px;
    }

}
#search.expanded{
    width: 300px;
    @media (max-width: 800px) {
        width: 60vw;
    }

}


.h-min {
    // min-height: calc(100vh - 115px);
    min-height: calc(100vh - 4rem);
}

#profile-menu {
    border: white 1px solid;
    border-radius: 10px;
    text-align: center;
    transform: translateY(7%);
    text-shadow: 0 0 black;
}
.feature-header {

    flex-direction: row;
    justify-self: center;
    width: 100%;
}
.feature-card{
    font-family: "Netflix Sans";
    display: flex;
    flex-direction: column;
    height: 23vh;
    background-clip: content-box;
    padding: 4%;
    width: 21.5vw;
    text-align: center;

    @media (max-width: 2100px) {
        width: 23vw;
        height: 312px;

    }
    @media (max-width: 1900px) {
        width: 20vw;
        height: 312px;
    }
    @media (max-width: 1267px) {

        width: 42vw;
        height: 345px;
    }
    @media (max-width: 800px) {
        width: 42vw;
        height: 260px;
        background-clip: padding-box;
    }

    .feature-row{
        margin: auto 15%;
        color: #fff;
        font-size: 2.4rem;
    }

    .feature-image {
        width: 100%;
        height: 97px;
        padding: 3%;

        img {
            max-width: 150px;
            height: 50%;
            margin: 15px auto;

            @media (max-width: 800px) {
                max-width: 100px;
            }
        }
    }
    .feature-title {
        width: 100%;
        height: 3.9rem;
        font-size: 1.7rem;
        line-height: 1.9rem;
        text-align: center;

        @media (max-width: 2100px) {
            font-size: 1.3rem;
        }

        @media (max-width: 800px) {
            font-size: 1rem;
            line-height: 1.4rem;
        }


    }
    .feature-description {
        width: 100%;
        min-height: 6rem;
        line-height: 1.2rem;
        font-size: 0.9rem;
        margin-top: 1%;
        text-align: center;
        padding: 3%;
        font-weight: bolder;

        @media (max-width: 2100px) {
            font-size: 0.8rem;
        }

        @media (max-width: 800px) {
            font-size: 0.6rem;
            line-height: 1rem;
        }

        a{
            color: $color;
            &:visited {

                color: $color-visited;
            }
        }
    }
}

.show {
    display: flex;
    @media (max-width: 800px) {
        display: contents;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #181a1b;
    color: #c5c1b9;
  }

  ::-webkit-scrollbar-corner {
    background-color: #4a5568;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9f7aea;
  }



  @media (min-width: 1024px){
    .lg\:h-screen {
        height: calc(100vh - 100px) !important;
    }
  }
.nm-container {
    margin-bottom: 6vw;
    overflow: auto;
    height: 100vh;
}

// #overlay {
//     display: none !important;
// }

.jw-slider-time .jw-buffer,
.jw-horizontal-volume-container .jw-buffer {
    background-color: rgba(92, 3, 19, 0.2) !important;
}

.jw-progress {
    background-color: #5c0313 !important;
}

.jw-knob {
    color: rgb(92, 3, 19) !important;
    background-color: #5c0313 !important;
}

._1fk85K._1fk85K._1fk85K {
    transform: translateY(-7%);
}

footer {
    position: relative;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    z-index: 5;
}
.spinner:after {
    content: "";
    background-image: url("/img/site-spinner.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    position: absolute;
    margin: -6px;
    width: inherit;
    height: inherit;
    animation: spinner-spin 1.1s linear infinite, 1 !important;
    -webkit-animation: spinner-spin 1.1s linear infinite, 1 !important;
}

@keyframes spinner-spin {
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spinner-spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
// .jw-display-icon-container.jw-display-icon-display.jw-reset {
//     display: none !important;
// }

.tag {
    border: 1px solid #8197a4;
    border-radius: 3px;
    background-color: rgba(15, 23, 30, 0.3);
    color: #8197a4;
    padding: 1px 3px 2px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
    margin: auto 5px auto 0;
}

@media (max-width: 900px) and (orientation:portrait) {
    ._3kgCxW._3kgCxW {
        min-height: 87vh;
        right: 32px;
        width: 100vw;
        transform: translateY(-46%) !important;
    }
}

.center {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: fixed;
}

.vertical-center {
    transform: translateY(-50%);
    top: 50%;
    position: fixed;
}

.horizontal-center {
    transform: translateX(-50%);
    left: 50%;
    position: fixed;
}

.info-container {
    min-height: calc(100vh - 7.5rem);
    max-height: calc(100vh - 7.5rem);
    @media (max-width: 900px) and (orientation:portrait) {
        min-height: calc(100vh - 11rem);
        max-height: calc(100vh - 11rem);
    }
    background-color: rgba(27, 37, 48, 0.8);
}

.grayscaled {
  filter: grayscale(100%);
}
