
.preload-images {
    opacity: 0;
    background-repeat: no-repeat
}

footer {
    display: none;
}

.sidebar {
    width: 12.5%;
}

.player {
    width: 70%;
}

.chat {
    width: 17.5%;
}

.btn-live {
    border-radius: 9px;
    height: 20px;
    width: 60px;
    position: absolute;
    left: 50%;
    font-size: 12px;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
}

.btn-verified {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    padding: 0px 3px;
    font-size: 9px;
    border: white 1px dotted;
}

.name {
    width: fit-content;
}

.closed .sidebar {
    width: 2.5%;
}

.closed .main {
    width: 97.5%;
}

.closed .jwplayer {
    width: 95%;
    max-height: 80vh;
    margin: auto;
}

.closed .chat {
    width: .5%;
}

.closed #sidebar div div {
    display: none;
}

#sidebar {
    padding: 0 1%;
}

.closed #sidebar {
    padding: 0;
}

#btn-sidebar {
    left: 0;
    width: 50px;
    height: 50px;
    margin: 0;
}
#about-mobile {
    display: none;
}
#mobile-viewer-container {
    display: none !important;
}


.closed #chat {
    display: none;
}
.chat-form-container {
    height: 130px;
}

.chat-flow {
    height: calc(100vh - 130px - 60px);
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-text {
    word-break: break-word;
    line-height: 21px;
    font-size: 11px;
}

textarea {
    color: black;
    padding: 0 5px;
}

@media (min-width: 900px) {
    #main{
        height: 96vh;
    }
}

@media (max-width: 900px) {
    #sidebar {
        display: none;
    }
    #about {
        display: none;
    }
    #main {
            width: 100%;
    }
    #chat {
        width: 100%;
    }
    #chat-form{
        width: 100%;
    }
    #chat-flow {
        height: calc(100vh - 420px);
    }
    .chat-form-container {
        height: 92px;
        width: 100vw;
        max-width: 100vw;
    }

    #banner {
        display: none;
    }

    #about-mobile {
        display: flex;
    }

    #mobile-viewer-container {
        display: flex !important;
    }

    textarea {
        width: 85%;
    }
}

@media (min-width: 2000px) {
    #chat {
        width: 27.5%;
    }
    #main {
        width: 60%;
    }

    .closed #main {
        width: 97.5%;
    }
}
