
.js-node-episode-container {
    display: none;
}

.jw-slider-time .jw-buffer,
.jw-horizontal-volume-container .jw-buffer {
    background-color: rgba(92, 3, 19, 0.2) !important;
}

.jw-progress {
    background-color: #5c0313 !important;
}

.jw-knob {
    color: rgb(92, 3, 19) !important;
    background-color: #5c0313 !important;
}

._1fk85K._1fk85K._1fk85K {
    transform: translateY(-7%);
}

/*! CSS Used from: Embedded */
.jw-reset {
    text-align: left;
    direction: ltr;
}

.jw-reset-text,
.jw-reset {
    color: inherit;
    background-color: transparent;
    padding: 0;
    margin: 0;
    float: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1em;
    list-style: none;
    text-transform: none;
    vertical-align: baseline;
    border: 0;
    font-variant: inherit;
    font-stretch: inherit;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.jw-title {
    position: absolute;
    top: 0;
}

.jw-background-color {
    background: rgba(0, 0, 0, 0.4);
}

.jw-text {
    color: rgba(255, 255, 255, 0.8);
}

.jw-knob {
    color: rgba(255, 255, 255, 0.8);
    background-color: #fff;
}

.jw-button-color {
    color: rgba(255, 255, 255, 0.8);
}

:not(.jw-flag-touch) .jw-button-color:not(.jw-logo-button):focus,
:not(.jw-flag-touch) .jw-button-color:not(.jw-logo-button):hover {
    color: #fff;
}

.jw-rail {
    background: rgba(255, 255, 255, 0.3);
}

.jw-buffer {
    background: rgba(255, 255, 255, 0.3);
}

.jw-progress {
    background: #f2f2f2;
}

.jw-time-tip,
.jw-volume-tip {
    border: 0;
}

.jw-icon-cast google-cast-launcher {
    --connected-color: #fff;
    --disconnected-color: rgba(255, 255, 255, 0.8);
}

.jw-icon-cast google-cast-launcher:focus {
    outline: none;
}

.jw-icon-cast google-cast-launcher.jw-off {
    --connected-color: rgba(255, 255, 255, 0.8);
}

.jw-icon-cast:focus google-cast-launcher {
    --connected-color: #fff;
    --disconnected-color: #fff;
}

.jw-icon-cast:hover google-cast-launcher {
    --connected-color: #fff;
    --disconnected-color: #fff;
}

.jw-nextup-container {
    bottom: 2.5em;
    padding: 5px .5em;
}

.jw-nextup {
    border-radius: 0;
}

.jwplayer {
    width: 100%;
    font-size: 16px;
    position: relative;
    display: block;
    min-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.jwplayer * {
    box-sizing: inherit;
}

.jwplayer.jw-flag-aspect-mode {
    height: auto !important;
}

.jwplayer.jw-flag-aspect-mode .jw-aspect {
    display: block;
}

.jwplayer .jw-aspect {
    display: none;
}

.jw-media,
.jw-preview {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.jw-media {
    overflow: hidden;
    cursor: pointer;
}

.jw-preview,
.jw-captions,
.jw-title {
    pointer-events: none;
}

.jw-media {
    pointer-events: all;
}

.jw-wrapper {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.jw-hidden-accessibility {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.jw-contract-trigger::before {
    content: "";
    overflow: hidden;
    width: 200%;
    height: 200%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.jwplayer .jw-media video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    outline: none;
}

.jwplayer.jw-stretch-uniform .jw-media video {
    object-fit: contain;
}

.jw-preview {
    position: absolute;
    display: none;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    background: #000 no-repeat 50% 50%;
}

.jwplayer .jw-preview {
    background-size: contain;
}

.jw-title {
    display: none;
    padding-top: 20px;
    width: 100%;
    z-index: 1;
}

.jw-title-primary,
.jw-title-secondary {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: unset;
    white-space: nowrap;
    width: 100%;
}

.jw-title-primary {
    font-size: 1.625em;
}

.jw-title-secondary:empty {
    display: none;
}

.jw-captions {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-decoration: none;
    pointer-events: none;
    overflow: hidden;
    top: 0;
}

.jw-captions.jw-captions-enabled {
    display: block;
}

.jw-captions-window {
    display: none;
    padding: .25em;
    border-radius: .25em;
}

.jw-captions-text {
    display: inline-block;
    color: #fff;
    background-color: #000;
    word-wrap: normal;
    word-break: normal;
    white-space: pre-line;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
}

.jwplayer:not(.jw-flag-controls-hidden):not(.jw-state-playing) .jw-captions {
    max-height: calc(100% - 60px);
}

.jw-top {
    height: 2em;
    line-height: 2;
    pointer-events: none;
    text-align: center;
    opacity: .8;
    position: absolute;
    top: -2em;
    width: 100%;
}

.jw-overlays,
.jw-controls,
.jw-controls-backdrop,
.jw-settings-submenu {
    height: 100%;
    width: 100%;
}

.jw-settings-menu .jw-icon::after,
.jw-icon-settings::after,
.jw-icon-volume::after,
.jw-settings-menu .jw-icon.jw-button-color::after {
    position: absolute;
    right: 0;
}

.jw-overlays,
.jw-controls,
.jw-controls-backdrop,
.jw-settings-item-active::before {
    top: 0;
    position: absolute;
    left: 0;
}

.jw-settings-menu .jw-icon::after,
.jw-icon-settings::after,
.jw-icon-volume::after,
.jw-settings-menu .jw-icon.jw-button-color::after {
    position: absolute;
    bottom: 0;
    left: 0;
}

.jw-nextup-close {
    position: absolute;
    top: 0;
    right: 0;
}

.jw-overlays,
.jw-controls {
    position: absolute;
    bottom: 0;
    right: 0;
}

.jw-settings-menu .jw-icon::after,
.jw-icon-settings::after,
.jw-icon-volume::after,
.jw-time-tip::after,
.jw-settings-menu .jw-icon.jw-button-color::after,
.jw-text-live::before,
.jw-controlbar .jw-tooltip::after,
.jw-settings-menu .jw-tooltip::after {
    content: "";
    display: block;
}

.jw-svg-icon {
    height: 24px;
    width: 24px;
    fill: currentColor;
    pointer-events: none;
}

.jw-icon {
    height: 44px;
    width: 44px;
    background-color: transparent;
    outline: none;
}

.jw-icon-cc .jw-svg-icon-cc-off {
    display: none;
}

.jw-off.jw-icon-cc .jw-svg-icon-cc-off {
    display: block;
}

.jw-icon-cc .jw-svg-icon-cc-on {
    display: block;
}

.jw-off.jw-icon-cc .jw-svg-icon-cc-on {
    display: none;
}

.jw-icon-fullscreen .jw-svg-icon-fullscreen-off {
    display: none;
}

.jw-icon-fullscreen .jw-svg-icon-fullscreen-on {
    display: block;
}

.jw-icon-volume .jw-svg-icon-volume-0 {
    display: none;
}

.jw-icon-volume .jw-svg-icon-volume-100 {
    display: none;
}

.jw-full.jw-icon-volume .jw-svg-icon-volume-100 {
    display: block;
}

.jw-icon-volume .jw-svg-icon-volume-50 {
    display: block;
}

.jw-full.jw-icon-volume .jw-svg-icon-volume-50 {
    display: none;
}

.jw-settings-menu .jw-icon::after,
.jw-icon-settings::after,
.jw-icon-volume::after {
    height: 100%;
    width: 24px;
    box-shadow: inset 0 -3px 0 -1px currentColor;
    margin: auto;
    opacity: 0;
    transition: opacity 150ms cubic-bezier(0, .25, .25, 1);
}

.jw-overlays,
.jw-controls {
    pointer-events: none;
}

.jw-controls-backdrop {
    display: block;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4) 77%, rgba(0, 0, 0, 0.4) 100%) 100% 100% / 100% 240px no-repeat transparent;
    transition: opacity 250ms cubic-bezier(0, .25, .25, 1), background-size 250ms cubic-bezier(0, .25, .25, 1);
    pointer-events: none;
}

.jw-overlays {
    cursor: auto;
}

.jw-controls {
    overflow: hidden;
}

.jw-text {
    height: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75em;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    text-align: center;
    font-variant: normal;
    font-stretch: normal;
}

.jw-controlbar,
.jw-display-icon-container .jw-icon,
.jw-nextup-container {
    pointer-events: all;
}

.jwplayer .jw-display-icon-container {
    width: auto;
    height: auto;
    box-sizing: content-box;
}

.jw-display {
    display: table;
    height: 100%;
    padding: 57px 0;
    position: relative;
    width: 100%;
}

.jw-display-container {
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.jw-display-controls {
    display: inline-block;
}

.jwplayer .jw-display-icon-container {
    float: left;
}

.jw-display-icon-container {
    display: inline-block;
    padding: 5.5px;
    margin: 0 22px;
}

.jw-display-icon-container .jw-icon {
    height: 75px;
    width: 75px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jw-display-icon-container .jw-icon .jw-svg-icon {
    height: 33px;
    width: 33px;
    padding: 0;
    position: relative;
}

.jw-display-icon-container .jw-icon .jw-svg-icon-rewind {
    padding: .2em .05em;
}

.jw-breakpoint-7 .jw-display .jw-icon,
.jw-breakpoint-7 .jw-display .jw-svg-icon {
    width: 88px;
    height: 88px;
    line-height: 88px;
}

.jw-breakpoint-7 .jw-display .jw-icon:before,
.jw-breakpoint-7 .jw-display .jw-svg-icon:before {
    width: 44px;
    height: 44px;
}

.jw-controlbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border: none;
    border-radius: 0;
    background-size: auto;
    box-shadow: none;
    max-height: 72px;
    transition: 250ms cubic-bezier(0, .25, .25, 1);
    transition-property: opacity, visibility;
    transition-delay: 0s;
}

.jw-breakpoint-7 .jw-controlbar {
    max-height: 140px;
}

.jw-breakpoint-7 .jw-controlbar .jw-button-container {
    padding: 0 48px 20px;
}

.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-tooltip {
    margin-bottom: -7px;
}

.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-icon-volume .jw-overlay {
    padding-bottom: 40%;
}

.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-text {
    font-size: 1em;
}

.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-text.jw-text-elapsed {
    justify-content: flex-end;
}

.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-icon-inline:not(.jw-text-live),
.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-icon-volume {
    height: 60px;
    width: 60px;
}

.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-icon-inline:not(.jw-text-live) .jw-svg-icon,
.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-icon-volume .jw-svg-icon {
    height: 30px;
    width: 30px;
}

.jw-breakpoint-7 .jw-controlbar .jw-slider-time {
    padding: 0 60px;
    height: 34px;
}

.jw-breakpoint-7 .jw-controlbar .jw-slider-time .jw-slider-container {
    height: 10px;
}

.jw-controlbar .jw-spacer {
    flex: 1 1 auto;
    align-self: stretch;
}

.jw-controlbar .jw-icon.jw-button-color:hover {
    color: #fff;
}

.jw-button-container {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 12px;
}

.jw-slider-horizontal {
    background-color: transparent;
}

.jw-icon-inline {
    position: relative;
}

.jw-icon-inline,
.jw-icon-tooltip {
    height: 44px;
    width: 44px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.jw-icon-inline:not(.jw-text),
.jw-icon-tooltip,
.jw-slider-horizontal {
    cursor: pointer;
}

.jw-text-elapsed,
.jw-text-duration {
    justify-content: flex-start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.jw-icon-tooltip {
    position: relative;
}

.jw-knob:hover,
.jw-icon-inline:hover,
.jw-icon-tooltip:hover,
.jw-icon-display:hover {
    color: #fff;
}

.jw-time-tip,
.jw-controlbar .jw-tooltip,
.jw-settings-menu .jw-tooltip {
    pointer-events: none;
}

.jw-icon-cast {
    display: none;
    margin: 0;
    padding: 0;
}

.jw-icon-cast google-cast-launcher {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.jwplayer .jw-text-countdown {
    display: none;
}

.jwplayer:not(.jw-breakpoint-0) .jw-text-duration:before,
.jwplayer:not(.jw-breakpoint--1) .jw-text-duration:before {
    content: "/";
    padding-right: 1ch;
    padding-left: 1ch;
}

.jw-slider-container {
    display: flex;
    align-items: center;
    position: relative;
    touch-action: none;
}

.jw-rail,
.jw-buffer,
.jw-progress {
    position: absolute;
    cursor: pointer;
}

.jw-progress {
    background-color: #f2f2f2;
}

.jw-rail {
    background-color: rgba(255, 255, 255, 0.3);
}

.jw-buffer {
    background-color: rgba(255, 255, 255, 0.3);
}

.jw-knob {
    height: 13px;
    width: 13px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    opacity: 1;
    pointer-events: none;
    position: absolute;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    transition: 150ms cubic-bezier(0, .25, .25, 1);
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
}

.jw-icon-volume:active .jw-slider-volume .jw-knob {
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.4), 0 0 0 6px rgba(255, 255, 255, 0.2);
}

.jw-slider-horizontal,
.jw-slider-vertical {
    display: flex;
}

.jw-slider-horizontal .jw-slider-container {
    height: 5px;
    width: 100%;
}

.jw-slider-horizontal .jw-rail,
.jw-slider-horizontal .jw-buffer,
.jw-slider-horizontal .jw-progress,
.jw-slider-horizontal .jw-knob {
    top: 50%;
}

.jw-slider-horizontal .jw-rail,
.jw-slider-horizontal .jw-buffer,
.jw-slider-horizontal .jw-progress {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.jw-slider-horizontal .jw-rail,
.jw-slider-horizontal .jw-buffer,
.jw-slider-horizontal .jw-progress {
    height: 5px;
}

.jw-slider-horizontal .jw-rail {
    width: 100%;
}

.jw-slider-vertical {
    align-items: center;
    flex-direction: column;
}

.jw-slider-vertical .jw-slider-container {
    height: 88px;
    width: 5px;
}

.jw-slider-vertical .jw-rail,
.jw-slider-vertical .jw-buffer,
.jw-slider-vertical .jw-progress,
.jw-slider-vertical .jw-knob {
    left: 50%;
}

.jw-slider-vertical .jw-rail,
.jw-slider-vertical .jw-buffer,
.jw-slider-vertical .jw-progress {
    height: 100%;
    width: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
    bottom: 0;
}

.jw-slider-vertical .jw-knob {
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.jw-slider-time {
    height: 17px;
    width: 100%;
    align-items: center;
    background: transparent none;
    padding: 0 12px;
}

.jw-slider-time,
.jw-horizontal-volume-container {
    z-index: 1;
    outline: none;
}

.jw-slider-time .jw-rail,
.jw-horizontal-volume-container .jw-rail,
.jw-slider-time .jw-buffer,
.jw-horizontal-volume-container .jw-buffer,
.jw-slider-time .jw-progress,
.jw-horizontal-volume-container .jw-progress {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
    -webkit-transform: translate(0, -50%) scale(1, .6);
    transform: translate(0, -50%) scale(1, .6);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.jw-slider-time:hover .jw-rail,
.jw-horizontal-volume-container:hover .jw-rail,
.jw-slider-time:focus .jw-rail,
.jw-horizontal-volume-container:focus .jw-rail,
.jw-slider-time:hover .jw-buffer,
.jw-horizontal-volume-container:hover .jw-buffer,
.jw-slider-time:focus .jw-buffer,
.jw-horizontal-volume-container:focus .jw-buffer,
.jw-slider-time:hover .jw-progress,
.jw-horizontal-volume-container:hover .jw-progress,
.jw-slider-time:focus .jw-progress,
.jw-horizontal-volume-container:focus .jw-progress {
    -webkit-transform: translate(0, -50%) scale(1, 1);
    transform: translate(0, -50%) scale(1, 1);
}

.jw-slider-time:hover .jw-knob,
.jw-horizontal-volume-container:hover .jw-knob,
.jw-slider-time:focus .jw-knob,
.jw-horizontal-volume-container:focus .jw-knob {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.jw-slider-time .jw-rail,
.jw-horizontal-volume-container .jw-rail {
    background-color: rgba(255, 255, 255, 0.2);
}

.jw-slider-time .jw-buffer,
.jw-horizontal-volume-container .jw-buffer {
    background-color: rgba(255, 255, 255, 0.4);
}

.jw-horizontal-volume-container {
    display: none;
}

.jw-modal {
    width: 284px;
}

.jw-breakpoint-7 .jw-modal {
    height: 232px;
}

.jw-slider-time .jw-overlay:before {
    height: 1em;
    top: auto;
}

.jw-volume-tip {
    padding: 13px 0 26px;
}

.jw-time-tip,
.jw-controlbar .jw-tooltip,
.jw-settings-menu .jw-tooltip {
    height: auto;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: #fff;
    display: block;
    margin: 0 0 14px;
    pointer-events: none;
    position: relative;
    z-index: 0;
}

.jw-time-tip::after,
.jw-controlbar .jw-tooltip::after,
.jw-settings-menu .jw-tooltip::after {
    top: 100%;
    position: absolute;
    left: 50%;
    height: 14px;
    width: 14px;
    border-radius: 1px;
    background-color: currentColor;
    -webkit-transform-origin: 75% 50%;
    transform-origin: 75% 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
}

.jw-time-tip .jw-text,
.jw-controlbar .jw-tooltip .jw-text,
.jw-settings-menu .jw-tooltip .jw-text {
    background-color: #fff;
    border-radius: 1px;
    color: #000;
    font-size: 10px;
    height: auto;
    line-height: 1;
    padding: 7px 10px;
    display: inline-block;
    min-width: 100%;
    vertical-align: middle;
}

.jw-controlbar .jw-overlay {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin: 0;
    min-height: 44px;
    min-width: 44px;
    opacity: 0;
    pointer-events: none;
    transition: 150ms cubic-bezier(0, .25, .25, 1);
    transition-property: opacity, visibility;
    transition-delay: 0s, 150ms;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100%;
    z-index: 1;
}

.jw-controlbar .jw-tooltip,
.jw-settings-menu .jw-tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    transition: 100ms 0s cubic-bezier(0, .25, .25, 1);
    transition-property: opacity, visibility, -webkit-transform;
    transition-property: opacity, transform, visibility;
    transition-property: opacity, transform, visibility, -webkit-transform;
    visibility: hidden;
    white-space: nowrap;
    width: auto;
    z-index: 1;
}

.jw-controlbar .jw-tooltip.jw-tooltip-fullscreen {
    left: auto;
    right: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.jw-controlbar .jw-tooltip.jw-tooltip-fullscreen::after {
    left: auto;
    right: 9px;
}

.jw-tooltip-time {
    height: auto;
    width: 0;
    bottom: 100%;
    line-height: normal;
    padding: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jw-tooltip-time .jw-overlay {
    bottom: 0;
    min-height: 0;
    width: auto;
}

.jw-tooltip {
    bottom: 57px;
    display: none;
    position: absolute;
}

.jw-tooltip .jw-text {
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    direction: unset;
    max-width: 246px;
    overflow: hidden;
}

.jwplayer .jw-shortcuts-tooltip {
    top: 50%;
    position: absolute;
    left: 50%;
    background: #333;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    color: #fff;
    pointer-events: all;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    overflow: hidden;
    flex-direction: column;
    z-index: 1;
}

.jwplayer .jw-shortcuts-tooltip .jw-shortcuts-close {
    flex: 0 0 auto;
    margin: 5px 5px 5px auto;
}

.jwplayer .jw-shortcuts-tooltip .jw-shortcuts-container {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    font-size: 12px;
    margin: 0 20px 20px;
    overflow-y: auto;
    padding: 5px;
}

.jwplayer .jw-shortcuts-tooltip .jw-shortcuts-container::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}

.jwplayer .jw-shortcuts-tooltip .jw-shortcuts-container::-webkit-scrollbar-thumb {
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 6px;
}

.jwplayer .jw-shortcuts-tooltip .jw-shortcuts-container .jw-shortcuts-title {
    font-weight: bold;
}

.jwplayer .jw-shortcuts-tooltip .jw-shortcuts-container .jw-shortcuts-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.jwplayer .jw-shortcuts-tooltip .jw-shortcuts-container .jw-shortcuts-tooltip-list {
    display: flex;
    max-width: 340px;
    margin: 0 10px;
}

.jwplayer .jw-shortcuts-tooltip .jw-shortcuts-container .jw-shortcuts-tooltip-list .jw-shortcuts-tooltip-descriptions {
    width: 100%;
}

.jwplayer .jw-shortcuts-tooltip .jw-shortcuts-container .jw-shortcuts-tooltip-list .jw-shortcuts-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;
}

.jwplayer .jw-shortcuts-tooltip .jw-shortcuts-container .jw-shortcuts-tooltip-list .jw-shortcuts-row .jw-shortcuts-description {
    margin-right: 10px;
    max-width: 70%;
}

.jwplayer .jw-shortcuts-tooltip .jw-shortcuts-container .jw-shortcuts-tooltip-list .jw-shortcuts-row .jw-shortcuts-key {
    background: #fefefe;
    color: #333;
    overflow: hidden;
    padding: 7px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jw-nextup-container {
    position: absolute;
    bottom: 66px;
    left: 0;
    background-color: transparent;
    cursor: pointer;
    margin: 0 auto;
    padding: 12px;
    pointer-events: none;
    right: 0;
    text-align: right;
    visibility: hidden;
    width: 100%;
}

.jw-breakpoint-7 .jw-nextup-container {
    padding: 60px;
}

.jw-nextup {
    background: #333;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    max-width: 280px;
    overflow: hidden;
    opacity: 0;
    position: relative;
    width: 64%;
    pointer-events: all;
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px);
    transition: 150ms cubic-bezier(0, .25, .25, 1);
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    transition-delay: 0s;
}

.jw-nextup:hover .jw-nextup-tooltip {
    color: #fff;
}

.jw-nextup-tooltip {
    display: flex;
    height: 80px;
}

.jw-nextup-thumbnail {
    width: 120px;
    background-position: center;
    background-size: cover;
    flex: 0 0 auto;
    display: none;
}

.jw-nextup-body {
    flex: 1 1 auto;
    overflow: hidden;
    padding: .75em .875em;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.jw-nextup-header,
.jw-nextup-title {
    font-size: 14px;
    line-height: 1.35;
}

.jw-nextup-header {
    font-weight: bold;
}

.jw-nextup-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.jw-nextup-duration {
    align-self: flex-end;
    text-align: right;
    font-size: 12px;
}

.jw-nextup-close {
    height: 24px;
    width: 24px;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    margin: 6px;
    visibility: hidden;
}

.jw-nextup-close:hover {
    color: #fff;
}

.jw-settings-menu {
    position: absolute;
    bottom: 57px;
    right: 12px;
    align-items: flex-start;
    background-color: #333;
    display: none;
    flex-flow: column nowrap;
    max-width: 284px;
    pointer-events: auto;
}

.jw-breakpoint-7 .jw-settings-menu {
    bottom: 130px;
    right: 60px;
    max-height: none;
    max-width: none;
    height: 35%;
    width: 25%;
}

.jw-breakpoint-7 .jw-settings-menu .jw-settings-topbar:not(.jw-nested-menu-open) .jw-icon-inline {
    height: 60px;
    width: 60px;
}

.jw-breakpoint-7 .jw-settings-menu .jw-settings-topbar:not(.jw-nested-menu-open) .jw-icon-inline .jw-svg-icon {
    height: 30px;
    width: 30px;
}

.jw-breakpoint-7 .jw-settings-menu .jw-settings-topbar:not(.jw-nested-menu-open) .jw-icon-inline .jw-tooltip .jw-text {
    font-size: 1em;
}

.jw-settings-menu .jw-icon.jw-button-color::after {
    height: 100%;
    width: 24px;
    box-shadow: inset 0 -3px 0 -1px currentColor;
    margin: auto;
    opacity: 0;
    transition: opacity 150ms cubic-bezier(0, .25, .25, 1);
}

.jw-settings-topbar {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex: 0 0 auto;
    padding: 3px 5px 0;
    width: 100%;
}

.jw-settings-topbar .jw-settings-topbar-buttons {
    display: inherit;
    width: 100%;
    height: 100%;
}

.jw-settings-topbar .jw-settings-topbar-text {
    display: none;
    color: #fff;
    font-size: 13px;
    width: 100%;
}

.jw-settings-topbar .jw-settings-close {
    margin-left: auto;
}

.jw-settings-submenu {
    display: none;
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 8px 20px 0 5px;
}

.jw-settings-submenu::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}

.jw-settings-submenu::-webkit-scrollbar-thumb {
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 6px;
}

.jw-breakpoint-7 .jw-settings-submenu .jw-settings-content-item {
    font-size: 1em;
    padding: 11px 15px 11px 30px;
}

.jw-settings-content-item {
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-size: 12px;
    line-height: 1;
    padding: 7px 0 7px 15px;
    width: 100%;
    text-align: left;
    outline: none;
}

.jw-settings-content-item:hover {
    color: #fff;
}

.jw-settings-content-item:focus {
    font-weight: bold;
}

.jw-settings-item-active {
    font-weight: bold;
    position: relative;
}

.jw-settings-item-active::before {
    height: 100%;
    width: 1em;
    align-items: center;
    content: "\2022";
    display: inline-flex;
    justify-content: center;
}

.jw-shortcuts-container .jw-switch {
    position: relative;
    display: inline-block;
    transition: ease-out .15s;
    transition-property: opacity, background;
    border-radius: 18px;
    width: 80px;
    height: 20px;
    padding: 10px;
    background: rgba(80, 80, 80, 0.8);
    cursor: pointer;
    font-size: inherit;
    vertical-align: middle;
}

.jw-shortcuts-container .jw-switch .jw-switch-knob {
    position: absolute;
    top: 2px;
    left: 1px;
    transition: ease-out .15s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 13px;
    width: 15px;
    height: 15px;
    background: #fefefe;
}

.jw-shortcuts-container .jw-switch:before,
.jw-shortcuts-container .jw-switch:after {
    position: absolute;
    top: 3px;
    transition: inherit;
    color: #fefefe;
}

.jw-shortcuts-container .jw-switch:before {
    content: attr(data-jw-switch-disabled);
    right: 8px;
}

.jw-shortcuts-container .jw-switch:after {
    content: attr(data-jw-switch-enabled);
    left: 8px;
    opacity: 0;
}

.jw-preview {
    overflow: hidden;
}

.jwplayer .jw-icon-playback .jw-svg-icon-stop {
    display: none;
}

.jwplayer.jw-state-paused .jw-svg-icon-pause {
    display: none;
}

.jwplayer:not(.jw-state-buffering) .jw-svg-icon-buffer {
    display: none;
}

.jwplayer:not(.jw-state-complete) .jw-svg-icon-replay {
    display: none;
}

.jwplayer.jw-state-paused .jw-icon-playback .jw-svg-icon-pause,
.jwplayer.jw-state-paused .jw-icon-display .jw-svg-icon-pause {
    display: none;
}

.jwplayer.jw-state-paused:not(.jw-flag-touch):not(.jw-flag-small-player):not(.jw-flag-casting):not(.jw-flag-play-rejected) .jw-display {
    display: none;
}

.jw-text-live {
    height: 24px;
    width: auto;
    align-items: center;
    border-radius: 1px;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    padding: 0 1ch;
    text-rendering: geometricPrecision;
    text-transform: uppercase;
    transition: 150ms cubic-bezier(0, .25, .25, 1);
    transition-property: box-shadow, color;
}

.jw-text-live::before {
    height: 8px;
    width: 8px;
    background-color: currentColor;
    border-radius: 50%;
    margin-right: 6px;
    opacity: 1;
    transition: opacity 150ms cubic-bezier(0, .25, .25, 1);
}

.jw-hidden {
    display: none;
}
