
*,
*::before,
*::after {
    box-sizing: border-box;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

h2,
h1 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: calc(1.35rem + 1.2vw);
}

@media (min-width:1200px) {
    h1 {
        font-size: 2.25rem;
    }
}

h2 {
    font-size: calc(1.305rem + 0.66vw);
}

@media (min-width:1200px) {
    h2 {
        font-size: 1.8rem;
    }
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

a {
    color: #3490dc;
    text-decoration: none;
}

a:hover {
    color: #1d68a7;
    text-decoration: underline;
}
img {
    vertical-align: middle;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button {
    text-transform: none;
}

button,
[type=button] {
    -webkit-appearance: button;
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

.container-fluid {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width:1200px) {
    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .9rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(52, 144, 220, .25);
}

.btn:disabled {
    pointer-events: none;
    opacity: .65;
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.125rem;
    border-radius: .3rem;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.mt-2 {
    margin-top: .5rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.pr-4 {
    padding-right: 1.5rem !important;
}

.pl-3 {
    padding-left: 1rem !important;
}

.text-right {
    text-align: right !important;
}

.col-xl-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width:1440px) {
    .col-xl-6 {
        float: left;
    }

    .col-xl-6 {
        width: 50%;
    }
}
a,
a:hover {
    background-color: transparent;
    color: #fff;
}

.table-scroll {
    overflow-x: auto;
    max-height: calc(100vh - 160px);
    width: calc(100vw - 350px);
}

@media (max-width:980px) and (orientation:portrait) {
    .table-scroll {
        height: calc(100vh - 200px);
        width: 97vw;
        overflow: auto;
    }
}

@media (max-width:980px) and (orientation:landscape) {
    .page-body-wrapper {
        right: 0;
        width: 60vw;
        overflow: hidden;
    }

    .table-scroll {
        height: calc(100vh - 185px);
        width: 100%;
        right: 0;
        overflow: auto;
    }
}

@media (max-width:980px) {
    .page-body-wrapper {
        left: 0;
        width: 100vw;
    }
}

.abwJ5F.abwJ5F.abwJ5F {
    display: flex;
    flex-flow: row wrap;
}

.abwJ5F.abwJ5F.abwJ5F>:not(._2LF_6p) {
    margin-bottom: 8px;
}

html:not([dir=rtl]) .abwJ5F.abwJ5F.abwJ5F>:not(:last-child) {
    margin-right: 8px;
}

._3QwtCH._3QwtCH._3QwtCH {
    display: flex;
    flex-flow: row wrap;
}

._3QwtCH._3QwtCH._3QwtCH>:not(._2LF_6p) {
    margin-bottom: 12px;
}

html:not([dir=rtl]) ._3QwtCH._3QwtCH._3QwtCH>:not(:last-child) {
    margin-right: 12px;
}

.tFxybk {
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
}

._16AW_S {
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

._1NNx6V,
._1NNx6V:link {
    color: #79b8f3;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._1NNx6V:active,
._1NNx6V:hover {
    text-decoration: none;
    color: #90dffe;
}

.i4xv9t {
    border: 1px solid #8197a4;
    border-radius: 3px;
    background-color: rgba(15, 23, 30, .3);
    color: #8197a4;
    padding: 1px 3px 2px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
}

.XqYSS8 {
    color: #8197a4;
}

._1zslxR {
    height: 20px;
    min-width: 22px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 900;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    color: #8197a4;
    border: 1px solid rgba(129, 151, 164, .7);
    border-radius: 2px;
    display: -moz-inline-flex;
    display: inline-flex;
    -moz-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.Gpyvwj {
    font-size: 10px;
    line-height: 10px;
}

.Gpyvwj:before {
    content: " ";
    vertical-align: text-bottom;
    display: inline-block;
    background: transparent url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.png) 50% no-repeat;
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 20em 221.4em;
}

.Gpyvwj._3lV8u4:before {
    background-position: -.5em -198.1em;
    width: 2em;
    height: 2.2em;
}

.wgGFDs {
    display: none;
}

._1W5VSv {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mlmPSf {
    position: relative;
}

._1wxob_ {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    max-height: 101px;
}

@media only screen and (max-width:64.99em) {
    ._1wxob_ {
        max-height: 85px;
    }
}

.wgGFDs:checked~._3qsVvm {
    white-space: normal;
    text-overflow: unset;
    -webkit-line-clamp: unset;
    -webkit-animation: _2BIfcJ .5s ease-in-out forwards;
    animation: _2BIfcJ .5s ease-in-out forwards;
}

.wgGFDs:checked~._1W5VSv {
    cursor: default;
}

.i4xv9t {
    border: 1px solid #8197a4;
    border-radius: 3px;
    background-color: rgba(15, 23, 30, .3);
    color: #8197a4;
    padding: 1px 3px 2px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
}

.XqYSS8 {
    color: #8197a4;
}

.abwJ5F.abwJ5F.abwJ5F {
    display: flex;
    flex-flow: row wrap;
}

.abwJ5F.abwJ5F.abwJ5F>:not(._2LF_6p) {
    margin-bottom: 8px;
}

html:not([dir=rtl]) .abwJ5F.abwJ5F.abwJ5F>:not(:last-child) {
    margin-right: 8px;
}

._3QwtCH._3QwtCH._3QwtCH {
    display: flex;
    flex-flow: row wrap;
}

._3QwtCH._3QwtCH._3QwtCH>:not(._2LF_6p) {
    margin-bottom: 12px;
}

html:not([dir=rtl]) ._3QwtCH._3QwtCH._3QwtCH>:not(:last-child) {
    margin-right: 12px;
}

.tFxybk {
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
}

._16AW_S {
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

._1zslxR {
    height: 20px;
    min-width: 22px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 900;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    color: #8197a4;
    border: 1px solid rgba(129, 151, 164, .7);
    border-radius: 2px;
    display: -moz-inline-flex;
    display: inline-flex;
    -moz-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

._1NNx6V,
._1NNx6V:link {
    color: #79b8f3;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._1NNx6V:active,
._1NNx6V:hover {
    text-decoration: none;
    color: #90dffe;
}

.Gpyvwj {
    font-size: 10px;
    line-height: 10px;
}

.Gpyvwj:before {
    content: " ";
    vertical-align: text-bottom;
    display: inline-block;
    background: transparent url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.png) 50% no-repeat;
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 20em 221.4em;
}

.Gpyvwj._3lV8u4:before {
    background-position: -.5em -198.1em;
    width: 2em;
    height: 2.2em;
}

.abwJ5F.abwJ5F.abwJ5F {
    display: flex;
    flex-flow: row wrap;
}

.abwJ5F.abwJ5F.abwJ5F>:not(._2LF_6p) {
    margin-bottom: 8px;
}

html:not([dir=rtl]) .abwJ5F.abwJ5F.abwJ5F>:not(:last-child) {
    margin-right: 8px;
}

._3QwtCH._3QwtCH._3QwtCH {
    display: flex;
    flex-flow: row wrap;
}

._3QwtCH._3QwtCH._3QwtCH>:not(._2LF_6p) {
    margin-bottom: 12px;
}

html:not([dir=rtl]) ._3QwtCH._3QwtCH._3QwtCH>:not(:last-child) {
    margin-right: 12px;
}

.tFxybk {
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
}

._16AW_S {
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

._1NNx6V,
._1NNx6V:link {
    color: #79b8f3;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._1NNx6V:active,
._1NNx6V:hover {
    text-decoration: none;
    color: #90dffe;
}

.i4xv9t {
    border: 1px solid #8197a4;
    border-radius: 3px;
    background-color: rgba(15, 23, 30, .3);
    color: #8197a4;
    padding: 1px 3px 2px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
}

.XqYSS8 {
    color: #8197a4;
}

._1zslxR {
    height: 20px;
    min-width: 22px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 900;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    color: #8197a4;
    border: 1px solid rgba(129, 151, 164, .7);
    border-radius: 2px;
    display: -moz-inline-flex;
    display: inline-flex;
    -moz-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.Gpyvwj {
    font-size: 10px;
    line-height: 10px;
}

.Gpyvwj:before {
    content: " ";
    vertical-align: text-bottom;
    display: inline-block;
    background: transparent url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.png) 50% no-repeat;
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 20em 221.4em;
}

.Gpyvwj._3lV8u4:before {
    background-position: -.5em -198.1em;
    width: 2em;
    height: 2.2em;
}

.abwJ5F.abwJ5F.abwJ5F {
    display: flex;
    flex-flow: row wrap;
}

.abwJ5F.abwJ5F.abwJ5F>:not(._2LF_6p) {
    margin-bottom: 8px;
}

html:not([dir=rtl]) .abwJ5F.abwJ5F.abwJ5F>:not(:last-child) {
    margin-right: 8px;
}

._3QwtCH._3QwtCH._3QwtCH {
    display: flex;
    flex-flow: row wrap;
}

._3QwtCH._3QwtCH._3QwtCH>:not(._2LF_6p) {
    margin-bottom: 12px;
}

html:not([dir=rtl]) ._3QwtCH._3QwtCH._3QwtCH>:not(:last-child) {
    margin-right: 12px;
}

.tFxybk {
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
}

._16AW_S {
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

._1NNx6V,
._1NNx6V:link {
    color: #79b8f3;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._1NNx6V:active,
._1NNx6V:hover {
    text-decoration: none;
    color: #90dffe;
}

.i4xv9t {
    border: 1px solid #8197a4;
    border-radius: 3px;
    background-color: rgba(15, 23, 30, .3);
    color: #8197a4;
    padding: 1px 3px 2px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
}

.XqYSS8 {
    color: #8197a4;
}

._1zslxR {
    height: 20px;
    min-width: 22px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 900;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    color: #8197a4;
    border: 1px solid rgba(129, 151, 164, .7);
    border-radius: 2px;
    display: -moz-inline-flex;
    display: inline-flex;
    -moz-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.Gpyvwj {
    font-size: 10px;
    line-height: 10px;
}

.Gpyvwj:before {
    content: " ";
    vertical-align: text-bottom;
    display: inline-block;
    background: transparent url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.png) 50% no-repeat;
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 20em 221.4em;
}

.Gpyvwj._3lV8u4:before {
    background-position: -.5em -198.1em;
    width: 2em;
    height: 2.2em;
}

._2Q73m9._2Q73m9._2Q73m9 {
    margin-bottom: 12px;
    font-size: 35px;
    line-height: 36px;
}

@media only screen and (max-width:64.99em) {
    ._2Q73m9._2Q73m9._2Q73m9 {
        font-size: 30px;
        line-height: 32px;
    }
}

.wgGFDs {
    display: none;
}

._1W5VSv {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mlmPSf {
    position: relative;
}

._1wxob_ {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    max-height: 101px;
}

@media only screen and (max-width:64.99em) {
    ._1wxob_ {
        max-height: 85px;
    }
}

.wgGFDs:checked~._3qsVvm {
    white-space: normal;
    text-overflow: unset;
    -webkit-line-clamp: unset;
    -webkit-animation: _2BIfcJ .5s ease-in-out forwards;
    animation: _2BIfcJ .5s ease-in-out forwards;
}

.wgGFDs:checked~._1W5VSv {
    cursor: default;
}

.-R-O-0.-R-O-0.-R-O-0 {
    margin-bottom: 12px;
}

._1npiSz._1npiSz._1npiSz {
    margin-bottom: 16px;
    max-width: 800px;
}

._1npiSz._1npiSz._1npiSz label {
    color: #79b8f3;
}

._3memqS._3memqS {
    text-align: initial;
}

._1GTSsh {
    width: 100% !important;
}

.uAeEjV.uAeEjV.uAeEjV {
    color: #8197a4;
    margin-bottom: 4px;
}

@media only screen and (max-width:27.99em) {
    .uAeEjV.uAeEjV.uAeEjV>* {
        margin-bottom: 0;
    }
}

._2xTTUQ {
    position: relative;
}

._2xTTUQ._2xTTUQ._2xTTUQ._2xTTUQ {
    margin-bottom: 16px;
}

._2U1bmy {
    opacity: 1;
    transition-property: opacity;
    transition-duration: .4s;
}

._1pQwo8._1pQwo8._1pQwo8._1pQwo8 {
    margin-bottom: 8px;
}

._1hy7th {
    position: absolute;
    overflow: hidden;
    width: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    height: 96vh;
    bottom: 0;
    z-index: -1 !important;
}

html:not([dir=rtl]) ._1hy7th {
    right: 0;
}

._3fd5I_ {
    position: relative;
    max-height: 100%;
}

._1fk85K._1fk85K._1fk85K {
    position: fixed;
    min-width: 100%;
    z-index: 3;
    opacity: .6;
    min-height: 200vh;
    left: auto;
    right: auto;
    justify-self: center;
    transform: translateY(-15%);
}

._1hy7th:after {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    content: "";
    display: block;
}

._1hy7th {
    width: 100%;
    right: 0;
    height: 96vh;
    bottom: 0;
}

._2CSCUu {
    opacity: 1;
    filter: alpha(opacity=100);
}

._3aVEdt {
    display: flex;
    flex-flow: row wrap;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

@media (max-height:780px) {

    body #dv-action-box-wrapper,
    body .dv-dp-node-synopsis {
        order: 0;
    }

    body .dv-dp-node-meta-info {
        order: 1;
    }
}

@media (max-height:640px) {
    body .dv-dp-node-synopsis {
        order: 1;
    }

    body .dv-dp-node-meta-info {
        order: 2;
    }
}

._1ONDJH dl {
    display: table-row;
    font-size: 17px;
    line-height: normal;
}

._1ONDJH dt {
    font-weight: 700;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
    float: none;
    margin: 0;
    color: #8197a4;
}

html:not([dir=rtl]) ._1ONDJH dt {
    padding: 5px 20px 0 0;
}

._1ONDJH dd {
    display: table-cell;
    float: none;
    margin: 0;
    color: #ffffff;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0rem;
}

.LgxvCy.LgxvCy.LgxvCy {
    margin-bottom: 50px;
    margin-top: 5px;
}

._2czKtE {
    word-break: break-word;
}

.abwJ5F.abwJ5F.abwJ5F {
    display: flex;
    flex-flow: row wrap;
}

.abwJ5F.abwJ5F.abwJ5F>:not(._2LF_6p) {
    margin-bottom: 8px;
}

html:not([dir=rtl]) .abwJ5F.abwJ5F.abwJ5F>:not(:last-child) {
    margin-right: 8px;
}

._3QwtCH._3QwtCH._3QwtCH {
    display: flex;
    flex-flow: row wrap;
}

._3QwtCH._3QwtCH._3QwtCH>:not(._2LF_6p) {
    margin-bottom: 12px;
}

html:not([dir=rtl]) ._3QwtCH._3QwtCH._3QwtCH>:not(:last-child) {
    margin-right: 12px;
}

.tFxybk {
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
}

._16AW_S {
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

._1NNx6V,
._1NNx6V:link {
    color: #79b8f3;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._1NNx6V:active,
._1NNx6V:hover {
    text-decoration: none;
    color: #90dffe;
}

.i4xv9t {
    border: 1px solid #8197a4;
    border-radius: 3px;
    background-color: rgba(15, 23, 30, .3);
    color: #8197a4;
    padding: 1px 3px 2px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
}

.XqYSS8 {
    color: #8197a4;
}

._1zslxR {
    height: 20px;
    min-width: 22px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 900;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    color: #8197a4;
    border: 1px solid rgba(129, 151, 164, .7);
    border-radius: 2px;
    display: -moz-inline-flex;
    display: inline-flex;
    -moz-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.Gpyvwj {
    font-size: 10px;
    line-height: 10px;
}

.Gpyvwj:before {
    content: " ";
    vertical-align: text-bottom;
    display: inline-block;
    background: transparent url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.png) 50% no-repeat;
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 20em 221.4em;
}

.Gpyvwj._3lV8u4:before {
    background-position: -.5em -198.1em;
    width: 2em;
    height: 2.2em;
}

.avu-full-width {
    width: 100% !important;
}

.av-hero-background {
    transition: opacity 1.5s ease-in-out;
}

._3fd5I_ {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

// .info-container {
//     transform: translate(-50%, -54%);
//     top: 50vh;
//     position: relative;
//     background: linear-gradient(75deg, #000, #0a0a0a57, #00000054, transparent);
//     padding: 3%;
//     border-radius: 30px;
//     width: 96%;
//     background-size: 100vw;
//     min-height: 84vh;
//     left: 50%;
//     overflow-x: hidden;
//     padding: 4rem;
//     margin-bottom: 5.9rem;
// }

@media (max-width:991px) {
    html:not([dir=rtl]) ._3kgCxW._3kgCxW {
        transform: translateY(-50%);
        top: 50%;
    }

    ._3kgCxW._3kgCxW {
        width: 100%;
        padding-left: 7px;
        padding-right: 7px;
    }

    // .info-container {
    //     transform: none;
    //     left: 2%;
    //     top: 0;
    //     width: 96%;
    //     margin: 2rem 0;
    //     overflow: hidden;
    //     margin-bottom: 3rem !important;
    //     padding: 7% 5%;
    // }

    ._1ONDJH dl {
        display: grid;
        font-size: 15px;
        line-height: normal;
    }

    ._1wxob_ {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        max-height: 250px;
        font-weight: 500;
    }
}

.abwJ5F.abwJ5F.abwJ5F {
    display: flex;
    flex-flow: row wrap;
}

.abwJ5F.abwJ5F.abwJ5F>:not(._2LF_6p) {
    margin-bottom: 8px;
}

._1zslxR {
    height: 20px;
    min-width: 22px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 900;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    color: #8197a4;
    border: 1px solid rgba(129, 151, 164, .7);
    border-radius: 2px;
    display: -moz-inline-flex;
    display: inline-flex;
    -moz-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.Gpyvwj {
    font-size: 10px;
    line-height: 10px;
}

.Gpyvwj:before {
    content: " ";
    vertical-align: text-bottom;
    display: inline-block;
    background: transparent url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.png) 50% no-repeat;
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 20em 221.4em;
}

.wgGFDs {
    display: none;
}

._1W5VSv {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mlmPSf {
    position: relative;
}

._19hYO2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 100px;
    height: 100px;
    max-height: 100px;
}

@media only screen and (max-width:64.99em) {
    ._19hYO2 {
        max-height: 45px;
    }
}

.wgGFDs:checked~._3qsVvm {
    white-space: normal;
    text-overflow: unset;
    -webkit-line-clamp: unset;
    -webkit-animation: _2BIfcJ .5s ease-in-out forwards;
    animation: _2BIfcJ .5s ease-in-out forwards;
}

.wgGFDs:checked~._1W5VSv {
    cursor: default;
}

.abwJ5F.abwJ5F.abwJ5F {
    display: flex;
    flex-flow: row wrap;
}

.abwJ5F.abwJ5F.abwJ5F>:not(._2LF_6p) {
    margin-bottom: 8px;
}

._1zslxR {
    height: 20px;
    min-width: 22px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 900;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    color: #8197a4;
    border: 1px solid rgba(129, 151, 164, .7);
    border-radius: 2px;
    display: -moz-inline-flex;
    display: inline-flex;
    -moz-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.Gpyvwj {
    font-size: 10px;
    line-height: 10px;
}

.Gpyvwj:before {
    content: " ";
    vertical-align: text-bottom;
    display: inline-block;
    background: transparent url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.png) 50% no-repeat;
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 20em 221.4em;
}

.abwJ5F.abwJ5F.abwJ5F {
    display: flex;
    flex-flow: row wrap;
}

.abwJ5F.abwJ5F.abwJ5F>:not(._2LF_6p) {
    margin-bottom: 8px;
}

._1zslxR {
    height: 20px;
    min-width: 22px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 900;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    color: #8197a4;
    border: 1px solid rgba(129, 151, 164, .7);
    border-radius: 2px;
    display: -moz-inline-flex;
    display: inline-flex;
    -moz-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.Gpyvwj {
    font-size: 10px;
    line-height: 10px;
}

.Gpyvwj:before {
    content: " ";
    vertical-align: text-bottom;
    display: inline-block;
    background: transparent url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.png) 50% no-repeat;
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 20em 221.4em;
}

.abwJ5F.abwJ5F.abwJ5F {
    display: flex;
    flex-flow: row wrap;
}

.abwJ5F.abwJ5F.abwJ5F>:not(._2LF_6p) {
    margin-bottom: 8px;
}

._1zslxR {
    height: 20px;
    min-width: 22px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 900;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    color: #8197a4;
    border: 1px solid rgba(129, 151, 164, .7);
    border-radius: 2px;
    display: -moz-inline-flex;
    display: inline-flex;
    -moz-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.Gpyvwj {
    font-size: 10px;
    line-height: 10px;
}

.Gpyvwj:before {
    content: " ";
    vertical-align: text-bottom;
    display: inline-block;
    background: transparent url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.png) 50% no-repeat;
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 20em 221.4em;
}

._1GTSsh {
    width: 100% !important;
}

.wgGFDs {
    display: none;
}

._1W5VSv {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mlmPSf {
    position: relative;
}

._19hYO2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 100px;
}

@media only screen and (max-width:64.99em) {
    ._19hYO2 {
        max-height: 45px;
    }
}

.wgGFDs:checked~._3qsVvm {
    white-space: normal;
    text-overflow: unset;
    -webkit-line-clamp: unset;
    -webkit-animation: _2BIfcJ .5s ease-in-out forwards;
    animation: _2BIfcJ .5s ease-in-out forwards;
}

.wgGFDs:checked~._1W5VSv {
    cursor: default;
}

.-R-O-0.-R-O-0.-R-O-0 {
    margin-bottom: 12px;
}

._3memqS._3memqS {
    text-align: initial;
}

._1TQ2Rs {
    transition-duration: .2s, .2s;
}

html:not([dir=rtl]) ._1TQ2Rs {
    transition-property: margin-left, opacity;
}

._1eWdr-._1eWdr-._1eWdr- {
    display: flex;
    flex-flow: column nowrap;
    -moz-justify-content: center;
    justify-content: center;
    box-sizing: border-box;
    color: #fff;
    width: 100%;
    margin-bottom: 4px;
}

._2U1bmy {
    opacity: 1;
    transition-property: opacity;
    transition-duration: .4s;
}

._1FuiMq {
    width: 100%;
    border-radius: 4px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    background-color: rgba(27, 37, 48, .8);
    height: 150px;
    padding-top: 16px;
    box-sizing: border-box;
    align-content: flex-start;
    margin-bottom: 4px;
    padding: 15px;
    padding-left: 245px;
    cursor: pointer;
}

._1FuiMq:last-child {
    margin-bottom: 0;
}

.X5yiWc {
    width: calc((120px/9) * 16);
    height: 120px;
    left: 0;
    top: 0;
    margin: 1rem;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

html:not([dir=rtl]) .X5yiWc {
    left: 0;
}

html:not([dir=rtl]) .X5yiWc {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.-A5yxK,
._27JUk3,
.X5yiWc img {
    width: 100%;
}

.-A5yxK {
    display: flex;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

@media only screen and (max-width:64.99em) {
    html:not([dir=rtl]) ._1FuiMq {
        padding-right: 16px;
    }
}

._3kgCxW._3kgCxW {
    color: #8197a4;
    top: 0;
    width: 97%;
    overflow-x: hidden;
    display: none;
    height: 70vh;
    position: relative;
}

.abwJ5F.abwJ5F.abwJ5F {
    display: flex;
    flex-flow: row wrap;
}

.abwJ5F.abwJ5F.abwJ5F>:not(._2LF_6p) {
    margin-bottom: 8px;
}

._1zslxR {
    height: 20px;
    min-width: 22px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 900;
    padding: 0 4px;
    text-align: center;
    vertical-align: middle;
    color: #8197a4;
    border: 1px solid rgba(129, 151, 164, .7);
    border-radius: 2px;
    display: -moz-inline-flex;
    display: inline-flex;
    -moz-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.Gpyvwj {
    font-size: 10px;
    line-height: 10px;
}

.Gpyvwj:before {
    content: " ";
    vertical-align: text-bottom;
    display: inline-block;
    background: transparent url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.png) 50% no-repeat;
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/DVUI/icons/dvui-icons--v14.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 20em 221.4em;
}

._1NNx6V,
._1NNx6V:link {
    color: #79b8f3;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

._1NNx6V:active,
._1NNx6V:hover {
    text-decoration: none;
    color: #90dffe;
}

._3ra7oO {
    touch-action: manipulation;
    padding: 14px 20px;
    border: none;
    vertical-align: top;
}

._3R4jka {
    display: grid;
    position: relative;
    overflow: visible;
    margin-right: 100vw;
}

.color-btn {
    background: #425265;
    color: #e2e8f0;
}
.color-btn:hover {
    background: #252e39;
    color: #e2e8f0;

}

@media only screen and (max-width:27.99em) {
    ._3R4jka {
        width: 250px;
    }
}

._3R4jka ul {
    position: absolute;
    top: 48px;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #252e39;
    max-height: 0;
    overflow: hidden;
    overflow-y: hidden;
    display: none;
    z-index: 199;
    border-radius: 3px;
}

html:not([dir=rtl]) ._3R4jka ul {
    left: 0;
}

html:not([dir=rtl]) ._3R4jka ul {
    border-top-left-radius: 0;
}

._3R4jka li {
    display: block;
    white-space: nowrap;
    position: relative;
    z-index: 199;
}

._3R4jka a,
._3R4jka a:link,
._3R4jka a:visited {
    line-height: 20px;
    color: #c4cacf;
    display: block;
    outline: 0;
    border-bottom: 1px solid #323e4c;
    transition: all .2s ease-out;
}

html:not([dir=rtl]) ._3R4jka a,
html:not([dir=rtl]) ._3R4jka a:link,
html:not([dir=rtl]) ._3R4jka a:visited {
    padding: 14px 48px 14px 20px;
}

._1TO3hV {
    position: relative;
    cursor: pointer;
}

html:not([dir=rtl]) ._1TO3hV {
    padding-right: 48px;
}

._1TO3hV:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 10px;
    height: 6px;
    display: block;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI3Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMSAxbDUgNSA1LTUiLz48L3N2Zz4=);
    background-size: contain;
    transform: translateY(-50%);
    transition: all .2s ease-out;
}

html:not([dir=rtl]) ._1TO3hV:before {
    right: 1em;
}

._2P_l3D,
input[type=checkbox]._2P_l3D {
    position: absolute;
}

html:not([dir=rtl]) ._2P_l3D,
html:not([dir=rtl]) input[type=checkbox]._2P_l3D {
    left: -99999px;
}

._3ra7oO {
    display: inline-block;
    margin: 0;
    line-height: 20px;
    background-color: #425265;
    transition: all .2s ease-out;
}

@media only screen and (max-width:27.99em) {
    ._3ra7oO {
        width: 100%;
    }
}

._3R4jka a:focus,
._3R4jka a:hover,
._3R4jka a:link:hover,
._3R4jka a:visited:hover,
._3ra7oO:hover {
    color: #fff;
    background-color: #252e39;
}

._3R4jka a:active,
._3ra7oO:active {
    background-color: #2e3946;
}

._3R4jka input:focus+._3ra7oO {
    background-color: #252e39;
}

._3R4jka input[type=checkbox]:checked~ul {
    display: block;
    overflow-y: auto;
    max-height: 400px;
    max-height: 50vh;
    -webkit-animation: _3q4d41 .5s forwards;
    animation: _3q4d41 .5s forwards;
}

@media only screen and (max-width:46.99em) {
    #trailer_season {
        // height: 100vh;
        max-height: 400px;
    }

    ._1FuiMq {
        height: 80px;
        padding-left: 120px;
    }

    .X5yiWc {
        width: calc((50px/9) * 16);
        height: 50px;
    }

    ._19hYO2 {
        display: none;
    }

    ._3R4jka input[type=checkbox]:checked~ul {
        position: absolute;
        max-height: 50vh;
        max-width: 500px;
        top: 48px;
        left: 0;
    }
}

._3R4jka input[type=checkbox]:checked+._3ra7oO {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

._3R4jka input[type=checkbox]:checked~label:before {
    transform: rotate(180deg);
}


/*! CSS Used keyframes */
@-webkit-keyframes _2BIfcJ {
    to {
        max-height: 800px;
        max-height: 100vh;
    }
}

@keyframes _2BIfcJ {
    to {
        max-height: 800px;
        max-height: 100vh;
    }
}

@-webkit-keyframes _2BIfcJ {
    to {
        max-height: 800px;
        max-height: 100vh;
    }
}

@keyframes _2BIfcJ {
    to {
        max-height: 800px;
        max-height: 100vh;
    }
}

@-webkit-keyframes _2BIfcJ {
    to {
        max-height: 800px;
        max-height: 100vh;
    }
}

@keyframes _2BIfcJ {
    to {
        max-height: 800px;
        max-height: 100vh;
    }
}

@-webkit-keyframes _2BIfcJ {
    to {
        max-height: 800px;
        max-height: 100vh;
    }
}

@keyframes _2BIfcJ {
    to {
        max-height: 800px;
        max-height: 100vh;
    }
}


#trailer_info {
    min-height: 50vh;
}
