.card {
    min-height: 6rem;
    flex-direction: row;
}

.progress-bars {
    overflow: hidden;
    position: relative;
    line-height: 25px;
    background: none;
    height: 22px;
    box-sizing: border-box;
    background: dimgray;
}

.inner-progress-bars {
    height: 25px;
}

.progress-bar-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.progress-bar-progress {
    position: absolute;
    top: 1px;
    left: 0;
    width: 0;
    height: 21px;
    overflow: hidden;
    box-sizing: border-box;
}

.progress-bar-working {
    // margin-top: 1px;

    .progress-bar-progress {
        // background: linear-gradient(to bottom, #7048bd 0%, #7210a7 100%);
        background: linear-gradient(to bottom, #ad41ff 0%, #5f0961 100%);
    }
}

.progress-bar-text {
    position: absolute;
    top: 0;
    padding: 0 10px;
    z-index: 1;
    color: #d8d5d5;
    line-height: 23px;
    font-size: 0.7rem;
    font-weight: 6200;
    text-transform: uppercase;
    font-family: "Netflix Sans";
}

.item-title {
    display: block;
    min-width: 35%;
    float: left;
    font-weight: 200;
    font-size: 11px;
    line-height: 16px;
    color: #fff;
    max-width: 430px;
    white-space: normal;
    word-wrap: normal;
    text-overflow: ellipsis;
    font-family: "Netflix Sans";
}

.upload-time-remaining {
    position: absolute;
    right: 12px;
    top: 3px;
    z-index: 1;
    font-weight: 200;
    font-size: 0.7rem;
    line-height: 16px;
    color: #fff;
    max-width: 430px;
    white-space: normal;
    text-overflow: ellipsis;
    font-family: "Netflix Sans";
}
#queue {
    overflow: inherit;
    max-height: calc(100vh - 9rem);
}

.queue-name {
    overflow: hidden;
    text-overflow: clip;
}

.tail {
    height: 30vh;
    overflow: hidden;
    padding: 30px 10px;
    outline: white 2px solid;
    float: left;
}
.page-body-wrapper{
    overflow: hidden;
}

.log {
    font-size: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 77vh;
}

.tail-btn {
    max-width: 250px;
}
.btn-able {
    width: 100px;
}
.tail-data {
    height: calc(100vh - 160px);
    overflow: auto;
}

@media (max-width: 980px) {
    @media (orientation: portrait) {
        .card {
            min-height: 5rem;
            flex-direction: row;
        }

        .upload-time-remaining {
            font-size: 0.6em;
            line-height: 0.7rem;
        }

        .item-title {
            margin-top: 2px;
            font-weight: 100;
            font-size: 0.6em;
            line-height: 0.8rem;
            overflow: hidden;
        }

        .upload-time-remaining {
            padding: 1px 5px;
            font-size: 0.7em;
            font-weight: 100;
            line-height: 0.7rem;
        }

        .progress-bars {
            height: 15px;
        }

        .progress-bar-text {
            line-height: 15px;
            font-size: 0.5rem;
            font-weight: 100;
        }

        .inner-progress-bars {
            height: 15px;
        }

        #id.queue {
            height: 5px;
            overflow: hidden;
        }

        #queue {
            overflow-y: auto;
            overflow-x: hidden;
            height: calc(100vh - 450px);
            max-height: calc(100vh - 450px);
        }

        .block img {
            transform: translate(0%, 20%);
            -webkit-transform: translate(0%, 20%);
            -moz-transform: translate(0%, 20%);
            -ms-transform: translate(0%, 20%);
            -o-transform: translate(0%, 20%);
        }

        .queue-name {
            height: 10px;
        }

        .block_r {
            max-height: 60vh;
            overflow: hidden;
        }
    }
}
