
  #index {
    // background: #131313;
    // width: 2rem;
    // position: fixed;
    // padding: 8rem 0 12rem;
    // float: right;
    // height: 100vh;
    // right: 0;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    // z-index: 1;


    background: #131313;
    width: 2rem;
    position: fixed;
    float: right;
    height: calc(100vh - 4rem);
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
  }

  #index li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #index li a {
    flex-direction: column;
    align-items: center;
    font-size: 0.95rem;
    display: block;
    color: #fff;
    width: inherit;
  }

  #index li a:hover {
    color: #15c8cc;
    text-decoration: none;
  }

  @media (max-width: 999px) and (orientation: portrait) {
    #index {
        float: right;
        width: 2rem;
        right: 0;
        flex-direction: column;
    }
    #index li a {
      flex-direction: column;
      font-size: 0.8rem;
    }
  }
  @media (max-width: 999px) and (orientation: landscape) {
    #index {
      width: 100vw;
      height: 2rem;
      bottom: 0;
      display: flex;
      padding: 0 2rem;
      flex-direction: row;
      top: auto;
    }
    #index li a {
      flex-direction: column;
      font-size: 0.8rem;
      padding: 0.1rem 0.3rem;
    }
  }


.slider-frame{
    position: relative;
    margin: 0 auto;

    overflow: visible inherit;
    white-space: nowrap;

    .btn{
        width: 45px;
        height: 100%;
        background: rgba(0,0,0,0.7);
        position: absolute;
        top: 0;
        z-index: 20;
        &.prev{
            left: -10px;
        }
        &.next{
            right: -10px;
        }
    }
    .slider-container{
        transition: left .7s cubic-bezier(0.18, -0.01, 0.65, 0.56);
        position: absolute;
        left: 0;
        flex-wrap: nowrap;
        display: flex;
        .slide{
            margin: 0 5px 0 0;
            position: relative;
            display: inline-block;
            top: 0;
            z-index: 0;
            transition: width .2s ease, height .2s ease, top .2s ease;
            margin-top: auto;
            margin-bottom: auto;
            display: inline-block;

            padding-left: 5px;
            padding-right: 5px;
            height: 100%;
            top: 0%;
            z-index: 0;
            .card-title, .card-btn{
                display: none;
                width: 130%;
                transform: translateY(2.5rem);
            }
        }
    }
}
    @media (min-width: 1000px) {
        .hover-left:hover {
            transform: translate(-0%, -5%);
        }

        .hover-center:hover {
            transform: translate(-15%, -5%);
        }

        .hover-right:hover {
            transform: translate(-30%, -5%);
        }
    }

    .slide-hover img {
        height: 285px;
        height: 100%;
        max-width: unset;
    }

    .slide-hover:hover img {
        width: 130%;
        height: 130%;
        max-width: unset;
    }

    body {
        background: rgb(41, 41, 41)
    }

    // .info {
    //     height: calc(100vw / 2.3);
    // }

    @media (min-width: 2000px) {

        // .info {
        //     height: calc(100vw / 3);
        // }

        .slide-hover img {
            height: 400px;
            max-width: unset;
        }

        .slide-hover:hover img {
            width: 130%;
            height: 130%;
            max-width: unset;
        }
    }


.carousel-indicators {
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: none;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    li {
        box-sizing: content-box;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: calc(100vw / 190);
        height: 3px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
        margin-right: 5px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;
        &.active {
            opacity: 1;
        }
    }
}



