body {
    margin: 0;
    padding: 0;
    font-weight: normal;
    overflow: hidden;
}

*:focus {
    outline: none !important;
}

button:focus {
    outline: none !important;
}

.libassjs-canvas {
    z-index: 4;
}

.active .libassjs-canvas {
    padding-bottom: 2% !important;
}

.nmplayer {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
    height: 100%;
}

video {
    width: 100%;
    height: 100vh;
}

video::-webkit-media-controls {
    display: none;
}

.mobile {
    display: none;
}

.video-overlay.active .video-controls-top {
    height: 100px;
    top: 0;
}

.video-controls-bottom {
    height: 100px;
    /* top: calc((100% / 16) * 9); */
}

#slider-container {
    position: relative;
    z-index: 1;
    transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    bottom: -34px;
    height: 10px;
    transition-delay: .1s;
}

.active #slider-container {
    bottom: 5.5rem;
    transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition-delay: .2s;
}


#thumb {
    display: block;
    position: absolute;
    visibility: hidden;
    background-color: #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#slider {
    height: 10px;
    background: #d3d3d3;
    pointer-events: all;
    cursor: pointer;
    /* transition: all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition-delay: 0.2s; */
    height: 10px;
}

#slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 10px;
    margin: 0;
}

#slider:hover {
    height: 10px;
    transform: translateY(-20%);
}

#slider:hover span {
    height: 10px;
}

#time {
    background-color: red;
}

#buffer {
    background-color: rgba(255, 0, 0, 0.3);
}

#slider-pop {
    display: none;
    position: fixed;
    width: 154px;
    height: 110px;
    bottom: 35px;
    left: 500px;
    background: #444444;
    text-align: center;
    padding: 5px;
    flex-direction: column;
    transform: translate(-50%, -10%);
}

#slider-pop:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #444444;
    border-bottom: 0;
    margin-left: -10px;
    margin-bottom: -10px;
}

#slider-image {
    flex: 5;
    width: 144px;
    max-height: 81px;
}

#slider-time {
    bottom: 0;
    width: 100%;
    padding: 10px 10px 0;
    margin: 0px;
    position: absolute;
    font-size: small;
}

#time-nipple {
    display: none;
    width: 20px !important;
    height: 20px !important;
    background-color: red;
    left: 0;
    border-radius: 50%;
    transform: translate(-10px, -3px);
}

#overlay {
    z-index: 8;
    position: absolute;
    top: 0;
    left: 0;
}

#overlay button {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent !important;
    width: 40px;
    height: 40px;
}

/* #overlay button:hover {
    background-color: #ffffff1a;
} */

#overlay-top {
    transition: all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    background: url("https://cdn.nomercy.tv/img/video-overlay-top.png");
    background-repeat: no-repeat;
    background-size: 55% 4.5rem;
}

#overlay:not(.active) #overlay-top {
    margin-top: -120px;
}

#overlay:not(.active) #subtitle-window {
    bottom: 3.2rem;
}

#overlay-bottom {
    background: url("https://cdn.nomercy.tv/img/video-overlay-bottom.png");
    background-repeat: no-repeat;
    background-size: 100% 7rem;
    transition: all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    height: 5rem;
}

.active #overlay-bottom {
    transition: all .7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#overlay:not(.active) #overlay-bottom {
    margin-bottom: -120px;
    transition: all 0.3s ease;
    transition-delay: .2s;
}

#optionsMenu {
    width: 0;
    right: -100vw;
    transition: all .2s linear;
    display: none;
    z-index: 5;
}

#seasonsMenu {
    width: 0;
    right: -100vw;
    transition: all .2s linear;
    display: none;
    z-index: 5;
}

#seasonsMenu button {
    margin: 0 10px;
}

#seasons-container button {
    margin-top: 0;
    margin-right: 0;
}

#season-forward-container {
    top: 0px;
    position: relative;
    height: 94%;
    width: 101%;
    left: -7px;
    padding-top: 10px;
}

#qualityMenu {
    left: 200px;
    top: 100px;
    width: 300px;
    min-height: 180px;
    overflow-y: auto;
    z-index: 5;

}

.active #optionsMenu {
    width: 45rem;
    right: 0;
}

.active #seasonsMenu {
    width: 45rem;
    right: 0;
}

button *:not(span) {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 35px !important;
    width: 40px;
    height: 40px;
}

button.back {
    background: url("https://cdn.nomercy.tv/svg/player/close.svg");
}

button.close {
    background: url("https://cdn.nomercy.tv/svg/player/close.svg");
    background-size: 30px;
    background-position: center;
}

button.quality {
    background: url("https://cdn.nomercy.tv/svg/player/settings.svg");
}

button.options {
    /* background: url("https://cdn.nomercy.tv/svg/player/options.svg"); */
    background: url("https://cdn.nomercy.tv/svg/player/audio-tracks.svg");
}

button.previous {
    background: url("https://cdn.nomercy.tv/svg/player/next.svg");
    transform: scale(-1, 1);
}

button.next {
    background: url("https://cdn.nomercy.tv/svg/player/next.svg");
}

button.seasons {
    background: url("https://cdn.nomercy.tv/svg/player/seasons.svg");
    background-size: 30px;
    background-position: center;
}

button.session {
    background: url("https://cdn.nomercy.tv/svg/player/session.svg");
}

button.play {
    background: url("https://cdn.nomercy.tv/svg/player/play.svg");
}

button.pause {
    background: url("https://cdn.nomercy.tv/svg/player/pause.svg");
    cursor: pointer;
}

button.unmuted {
    background: url("https://cdn.nomercy.tv/svg/player/volume-100.svg");
}

button.muted {
    background: url("https://cdn.nomercy.tv/svg/player/volume-0.svg");
}

button.fullscreen {
    background: url("https://cdn.nomercy.tv/svg/player/fullscreen.svg");
}

button.left-arrow {
    background: url("https://cdn.nomercy.tv/svg/player/left-arrow.svg");
    background-size: 35px;
    padding-top: 45px;
}

button.right-arrow {
    background: url("https://cdn.nomercy.tv/svg/player/right-arrow.svg");
}

button.uhd4k {
    background: url("https://cdn.nomercy.tv/svg/player/UHD4K.svg");
}

button.auto {
    background: url("https://cdn.nomercy.tv/svg/player/AUTO.svg");
}

button.hd1080P {
    background: url("https://cdn.nomercy.tv/svg/player/quality.svg");
}

button.fullscreen-not {
    background: url("https://cdn.nomercy.tv/svg/player/fullscreen-not.svg");
}

button.fast-rewind {
    background: url("https://cdn.nomercy.tv/svg/player/fast_rewind.svg");
}

button.fast-forward {
    background: url("https://cdn.nomercy.tv/svg/player/fast_forward.svg");
}

button.previous div {
    transform: scale(-1, 1);
    margin-left: -30px;
    margin-top: 23px;
    cursor: pointer;
}

.video-controls-center button {
    height: 20px;
    width: 21px;
    border: none;
    margin-right: -7px;
}

button.play.mobile {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border: none;
    display: none;
    margin: 50vh 50vw;
    transform: translate(-50%, -50%);
}

svg {
    fill: #fff;
}

.jwplayer {
    z-index: 0 !important;
}

::cue {
	box-sizing: inherit;
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
		0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
		0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
		0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
		0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
		0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
		0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
		0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
		0 0 4px black, 0 0 4px black;
	z-index: 0;
	transform: translateY(-210px);
	-webkit-transform: translateY(-210px);
	-moz-transform: translateY(-210px);
	-ms-transform: translateY(-210px);
	-o-transform: translateY(-210px);
}

.subtitle-window,
.vjs-text-track-cue div {
    font-size: 1.6vw;
    line-height: 2vw;
    background-color: rgba(0, 0, 0, 0) !important;
    text-shadow: black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px !important;
}

.vjs-text-track-cue {
    transition: transform .3s linear;
    transition-delay: .2s;
}

.active .vjs-text-track-cue {
    transform: translateY(-5rem);
}

.vjs-text-track-cue-0 {
    display: none !important;
}

.player-message {
    position: absolute;
    display: none;
    right: 10rem;
    top: 4rem;
    font-size: xxx-large;
    width: 40rem;
    height: 4rem;
}

#subtitles {
    height: calc(100vh - 210px);
}

#btn-play-mobile {
    display: none;
    height: 80px;
    width: 80px;
    top: 50vh;
    left: 50vw;
    position: absolute;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

@media (max-width: 900px) and (orientation: portrait) {

    #overlay button {
        width: 40px;
        height: 40px;
    }

    #overlay-bottom {
        height: 55px;
        z-index: 2;
    }

    button.play.mobile {
        display: none;
        pointer-events: all;
        margin: 26.5vh 49vw;
    }

    .video-overlay.active .video-controls-bottom {
        padding: 1rem 1rem;
        height: 100px;
        bottom: 0;
        position: sticky;
    }

    .video-controls-bottom {
        padding: 1rem 1rem;
        height: 100px;
        top: 97vh;
        justify-content: space-evenly;
    }

    #seasons-container img {
        transform: translateY(-50%);
        top: 35%;
        position: relative;
    }

    #slider-container {
        position: fixed;
        right: 5%;
        width: 90%;
        transition: all .3s linear;
        transition-delay: .2s;
    }

    #slider-pop {
        bottom: 10%;
    }

    #overlay:not(.active) #slider-container {
        bottom: -10px;
        transition: all .3s linear;
        transition-delay: .2s;
    }

    #slider {
        position: relative;
        background: #d3d3d3;
        opacity: 0.7;
        cursor: pointer;
        height: 10px;
    }

    .time {
        height: 30px;
        margin-top: 5px;
        padding: 6px;
    }

    .video-controls-bottom .current-time {
        height: 25px;
        margin: 15px 5px;
    }

    .video-controls-bottom .remaining-time {
        height: 25px;
        margin: 15px 5px;
    }

    .player-message {
        position: absolute;
        display: none;
        right: 0rem;
        top: 16rem;
        font-size: x-large;
        width: 100%;
        height: 4rem;
    }

    .active #seasonsMenu {
        width: 100vw;
    }

    .active #optionsMenu {
        width: 100vw;
    }


    .active .vjs-text-track-cue {
        transform: translateY(-0);
    }

    .vjs-text-track-cue {
        top: 57vh !important;
    }
     .vjs-text-track-cue div {
        display: inline-block !important;
        font-size: 4.6vw !important;
        line-height: 5vw !important;
    }
}

@media (max-width: 1380px) and (orientation: landscape) {
    button.play.mobile {
        display: none;
        pointer-events: all;
    }

    #qualityMenu button {
        position: absolute;
        top: 60px;
        width: 60px;
        height: 60px;
        margin-top: -20%;
        margin-right: 5%;
        right: 0;
    }

    #subtitles {
        height: 67vh;
    }

    #audios {
        height: 67vh;
    }

    .subtitle-window {
        font-size: 2.2vw !important;
        line-height: 2.6vw;
        transition: all .7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    .active .subtitle-window {
        bottom: calc((100vh / 2) / 2.4);
        font-size: 2.2vw !important;
        line-height: 2.6vw;
        transition: all .7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    .player-message {
        right: 5rem;
        top: 3rem;
        font-size: x-large;
    }

    .active #optionsMenu {
        width: 45rem;
        right: 0;
    }

    .active #seasonsMenu {
        width: 45rem;
        right: 0;
    }

    #overlay-bottom {
        height: 4rem;
    }

    .active .vjs-text-track-cue {
        transform: translateY(-5rem);
    }
    .vjs-text-track-cue div {
        font-size: 2.6vw !important;
        line-height: 3vw !important;
    }
}

@media (max-width: 1581px) {}

@media (min-width: 1581px) {
    .seasonsMenu.active {
        width: 70vw;
    }

    #slider:hover {
        height: 15px;
        /* transform: translateY(-15%); */
    }

    #slider:hover span {
        height: 15px;
    }
}

@media (min-width: 2180px) {
    .active #slider-container {
        width: calc(100vw - 650px);
        margin-left: auto;
        margin-right: auto;
        transform: translateX(3%);
    }
}

@media (min-width: 3000px) {
    .active #slider-container {
        margin-left: auto;
        margin-right: auto;
        transform: translateX(0%);
        bottom: 47px;
        transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        transition-delay: .2s;
    }

}
.notification {
    transition: background 0.8s;
    pointer-events: none;
    display: none;
}

i {
    font-style: normal;
}

.animate-in {
    display: flex;
    animation: ripple 1s forwards;
}

.animate-in i {
    display: block;
}

.animate-in.forward i {
    padding-bottom: 2px;
}

.animate-in.forward i {
    animation: fadeInLeft 0.7s;
}

.animate-in.rewind i {
    animation: fadeInRight 0.7s;
}

.active .jw-text-track-display {
    transform: translateY(-50px);
}

.timeshift {
    margin-left: 20px;
}

.overview {
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    font-size: 11px;
}

.aspect-16-9 {
    width: calc((100% / 16) * 9);
}

.season-forward {
    cursor: pointer;
    min-height: 150px;
    max-height: 150px;
    width: inherit;
}

.season-list {
    height: 100%;
}

@media (min-width: 2567px) {
    .seasonsMenu.active {
        width: 30vw;
    }
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
}

.spinner:after {
    content: "";
    background-image: url("https://cdn.nomercy.tv/img/site-spinner.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    position: absolute;
    width: inherit;
    height: inherit;
    animation: spinner-spin 1.1s linear infinite, 1 !important;
    -webkit-animation: spinner-spin 1.1s linear infinite, 1 !important;
}

@keyframes spinner-spin {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner-spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@media (orientation: portrait) {

    .subtitle-window {
        bottom: calc((100vh / 2) / 1.4);
        font-size: 16px;
        line-height: 18px;

    }

    .active .subtitle-window {
        bottom: calc((100vh / 2) / 1.4);
    }

}

.nextup {
    position: absolute;
    bottom: 13%;
    right: 10%;
    color: #222222;
    padding: 1rem 1.5rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* display: none; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nextup .bg {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    animation: bg-grow 5s linear;
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.75rem solid #222222;
}

@keyframes bg-grow {
    0% {
        right: 100%;
    }

    100% {
        right: 0;
    }
}

/*
.video-js {
    width: 100vw !important;
    height: 100vh !important;
    background: #000;
}

.vjs-control-bar {
    display: none !important;
}

.vjs-big-play-button {
    display: none !important;
}

.vjs-text-track-settings {
    display: none !important;

}
.vjs-control-text {
    display: none !important;

} */
