body {
    margin: 0;
    padding: 0;
    font-weight: normal;
    overflow: hidden;
}

*:focus {
    outline: none !important;
}

button:focus {
    outline: none !important;
}

.libassjs-canvas {
    z-index: 4;
}

.active .libassjs-canvas {
    padding-bottom: 2% !important;
}

.nmplayer {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
}

.video-overlay.active .video-controls-top {
    height: 100px;
    top: 0;
}

.video-controls-bottom {
    height: 100px;
    /* top: calc((100% / 16) * 9); */
}

#slider-container {
    position: relative;
    z-index: 1;
    transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    bottom: -34px;
    height: 10px;
    transition-delay: .1s;
}

.active #slider-container {
    bottom: 6rem;
    transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition-delay: .2s;
}


#thumb {
    display: block;
    position: absolute;
    visibility: hidden;
    background-color: #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#slider {
    height: 10px;
    background: #d3d3d3;
    pointer-events: all;
    cursor: pointer;
    /* transition: all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition-delay: 0.2s; */
    height: 10px;
}

#slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 10px;
    margin: 0;
}

#slider:hover {
    height: 10px;
    transform: translateY(-20%);
}

#slider:hover span {
    height: 10px;
}

#time {
    background-color: red;
}

#buffer {
    background-color: rgba(255, 0, 0, 0.3);
}

#slider-pop {
    position: fixed;
    width: 154px;
    height: 110px;
    bottom: 35px;
    left: 500px;
    background: #444444;
    text-align: center;
    padding: 5px;
    flex-direction: column;
    transform: translate(-50%, -10%);
}

#slider-pop:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #444444;
    border-bottom: 0;
    margin-left: -10px;
    margin-bottom: -10px;
}

#slider-image {
    flex: 5;
    width: 144px;
    max-height: 81px;
}

#slider-time {
    bottom: 0;
    width: 100%;
    padding: 10px 10px 0;
    margin: 0px;
    position: absolute;
    font-size: small;
}

#time-nipple {
    width: 20px !important;
    height: 20px !important;
    background-color: red;
    left: 0;
    border-radius: 50%;
    transform: translate(-10px, -3px);
}

#overlay {
    z-index: 8;
    position: fixed;
    width: inherit;
    height: inherit;
    overflow: hidden;
}

#overlay:not(.active) #overlay-top {
    margin-top: -120px;
}

#overlay:not(.active) #subtitle-window {
    bottom: 3.2rem;
}


#overlay-top {
    transition: all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    background: url('https://cdn.nomercy.tv/img/video-overlay-top.png');
    background-repeat: no-repeat;
    background-size: 25rem 4.5rem;
}

#overlay-bottom {
    background: url("https://cdn.nomercy.tv/img/video-overlay-bottom.png");
    background-repeat: no-repeat;
    background-size: 100% 6rem;
    transition: all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    height: 5rem;
}

.active #overlay-bottom {
    transition: all .7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#overlay:not(.active) #overlay-bottom {
    margin-bottom: -120px;
    transition: all 0.3s ease;
    transition-delay: .2s;
}

#optionsMenu {
    width: 0;
    right: -100vw;
    transition: all .2s linear;
    z-index: 5;
}

#seasonsMenu {
    width: 0;
    right: -100vw;
    transition: all .2s linear;
    z-index: 5;
}

#seasons-container button {
    margin-top: 0;
    margin-right: 0;
}

#season-forward-container {
    top: 0px;
    position: relative;
    height: 94%;
    width: 101%;
    left: -7px;
    padding-top: 10px;
}

#qualityMenu {
    left: 8rem;
    top: 100px;
    width: 300px;
    min-height: 180px;
    z-index: 5;

}

.active #optionsMenu {
    width: 45rem;
    right: 0;
}

.active #seasonsMenu {
    width: 45rem;
    right: 0;
}

button *:not(span) {
    background-repeat: no-repeat !important;
    background-position: 0px 0px !important;
    background-size: 35px !important;
    width: 40px;
    /* height: 40px; */
}

#overlay button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 4px;
}

#overlay button span {
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
}

span.aspect {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='-1 -1 26 26'%3E%3Cpath d='M19 12h-2v3h-3v2h5v-5zM7 9h3V7H5v5h2V9zm14-6H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16.01H3V4.99h18v14.02z'/%3E%3C/svg%3E%0A");
}

span.levels {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='-1 -0.5 25 25 '%3E%3Cpath d='M10 20h4V4h-4v16zm-6 0h4v-8H4v8zM16 9v11h4V9h-4z'/%3E%3C/svg%3E%0A");
}
span.settings {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='0 0 24 24'%3E%3Cpath d='M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z'/%3E%3C/svg%3E");
}
span.close {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='0 0 18 18'%3E%3Cpath d='M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z'/%3E%3C/svg%3E%0A");
}
span.back{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='0 0 16 18'%3E%3Cpath d='M15 8.25H5.87l4.19-4.19L9 3 3 9l6 6 1.06-1.06-4.19-4.19H15v-1.5z'/%3E%3C/svg%3E");
}
span.languages {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='-6 -10 250 250'%3E%3Cpath d='M35,34h160v20H35V34z M35,94h160V74H35V94z M35,134h60v-20H35V134z M160,114c-23.4-1.3-43.6,16.5-45,40v50h20c5.2,0.3,9.7-3.6,10-8.9c0-0.4,0-0.7,0-1.1v-20c0.3-5.2-3.6-9.7-8.9-10c-0.4,0-0.7,0-1.1,0h-10v-10c1.5-17.9,17.1-31.3,35-30c17.9-1.3,33.6,12.1,35,30v10H185c-5.2-0.3-9.7,3.6-10,8.9c0,0.4,0,0.7,0,1.1v20c-0.3,5.2,3.6,9.7,8.9,10c0.4,0,0.7,0,1.1,0h20v-50C203.5,130.6,183.4,112.7,160,114z'/%3E%3C/svg%3E");
}
span.quality {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='0 0 24 26'%3E%3Cpath d='M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z'/%3E%3C/svg%3E");
}
span.quality {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-100 -136 1300 1146'%3E%3Cpath style='fill:%23fff;' d='M963.8,426.4L860.3,409c-13.3-2.3-27.8-14.8-31.9-27.8l-12.1-29.6c-6.4-12-5.1-31,2.8-42L880,224c7.9-11.1,7-28.5-1.9-38.9l-63.3-63.2c-10.4-8.9-27.9-9.8-39-1.9l-85.5,60.8c-11.1,7.9-30.1,9.4-42.4,3.5l-29.4-12c-12.7-4.6-25.2-19.3-27.5-32.6L573.5,36.3c-2.2-13.5-15.2-25.2-28.8-26.3h-89.4c-13.7,0.9-26.5,12.7-29,26.2l-17.4,103.4c-2.4,13.5-14.8,27.8-27.9,31.7l-29.3,12.2c-12.1,6.4-31.1,5.1-42.1-2.8L224,120c-11.1-7.9-28.5-7.2-38.9,1.9l-63.4,63.3c-8.8,10.2-9.6,27.7-1.7,39l60.8,85.3c7.8,11,9.5,30.1,3.6,42.6l-12.2,29.1c-4.4,12.8-19.1,25.3-32.5,27.5L36.2,426.4C22.8,428.6,11,441.7,10,455.3v89.4c0.9,13.6,12.7,26.7,26.1,28.9L139.5,591c13.3,2.3,27.7,14.8,31.9,27.8l12.1,29.5c6.3,12.1,5.1,31-2.8,42.1L119.8,776c-7.8,11-6.9,28.5,2.1,38.8l63.2,63.3c10.4,8.9,27.9,9.6,39,1.7l85.4-60.8c11.1-7.8,30.3-9.4,42.4-3.5l29.3,12.1c13.1,4.4,25.3,19.1,27.7,32.5l17.4,103.4c2.4,13.6,15.3,25.3,28.8,26.4l89.7-0.1c13.6-0.9,26.5-12.6,28.8-26.1L591,860.3c2.3-13.3,14.8-27.8,27.8-31.7l29.4-12.2c12.1-6.4,31.1-4.9,42.1,2.8l85.6,60.8c11.2,7.9,28.7,7,38.9-1.9l63.3-63.2c8.8-10.4,9.6-27.9,1.7-39.1l-60.8-85.5c-7.8-11-9.4-30.1-3.6-42.5l12.3-29.3c4.4-12.8,19-25.2,32.4-27.4l103.5-17.5c13.3-2.2,25.2-15.3,26.3-28.9v-89.4C989,441.6,977.2,428.6,963.8,426.4z M499.9,710.1c-116,0-210.1-94-210.1-210.1c0-116.1,94.1-210.3,210.1-210.3c116.1,0,210.3,94.1,210.3,210.3C710.1,616.1,616,710.1,499.9,710.1z'/%3E%3C/svg%3E");
}
span.subtitles {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='0 0 24 24'%3E%3Cpath d='M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-8 7H9.5v-.5h-2v3h2V13H11v1c0 .55-.45 1-1 1H7c-.55 0-1-.45-1-1v-4c0-.55.45-1 1-1h3c.55 0 1 .45 1 1v1zm7 0h-1.5v-.5h-2v3h2V13H18v1c0 .55-.45 1-1 1h-3c-.55 0-1-.45-1-1v-4c0-.55.45-1 1-1h3c.55 0 1 .45 1 1v1z'/%3E%3C/svg%3E");
}
span.previous {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='0 0 24 24'%3E%3Cpath d='M6 6h2v12H6zm3.5 6l8.5 6V6z'/%3E%3C/svg%3E");
}
span.next {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='0 0 24 24'%3E%3Cpath d='M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z'/%3E%3C/svg%3E");
}
span.playlist {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='0 1 19 16'%3E%3Cpath d='M19 9H2v2h17V9zm0-4H2v2h17V5zM2 15h13v-2H2v2zm15'/%3E%3C/svg%3E%0A");
}
span.unmuted {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='0 0 18 18'%3E%3Cpath d='M12.79 9c0-1.3-.72-2.42-1.79-3v6c1.06-.58 1.79-1.7 1.79-3zM2 7v4h3l4 4V3L5 7H2zm9-5v1.5c2.32.74 4 2.93 4 5.5s-1.68 4.76-4 5.5V16c3.15-.78 5.5-3.6 5.5-7S14.15 2.78 11 2z'/%3E%3C/svg%3E");
}

span.muted {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='0 0 24 24'%3E%3Cpath d='M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.2.05-.41.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z'/%3E%3C/svg%3E");
}

span.play {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='2 3 19 19'%3E%3Cpath d='M8 5v14l11-7z'/%3E%3C/svg%3E ");
}
span.pause {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='2 3 19 19'%3E%3Cpath d='M6 19h4V5H6v14zm8-14v14h4V5h-4z'/%3E%3C/svg%3E ");
}

span.fullscreen-not {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='0 0 240 240'%3E%3Cpath d='M109.2,134.9l-8.4,50.1c-0.4,2.7-2.4,3.3-4.4,1.4L82,172l-27.9,27.9l-14.2-14.2l27.9-27.9l-14.4-14.4c-1.9-1.9-1.3-3.9,1.4-4.4l50.1-8.4c1.8-0.5,3.6,0.6,4.1,2.4C109.4,133.7,109.4,134.3,109.2,134.9L109.2,134.9z M172.1,82.1L200,54.2L185.8,40l-27.9,27.9l-14.4-14.4c-1.9-1.9-3.9-1.3-4.4,1.4l-8.4,50.1c-0.5,1.8,0.6,3.6,2.4,4.1c0.5,0.2,1.2,0.2,1.7,0l50.1-8.4c2.7-0.4,3.3-2.4,1.4-4.4L172.1,82.1z'/%3E%3C/svg%3E%0A");
}

span.fullscreen {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='0 0 240 240'%3E%3Cpath d='M96.3,186.1c1.9,1.9,1.3,4-1.4,4.4l-50.6,8.4c-1.8,0.5-3.7-0.6-4.2-2.4c-0.2-0.6-0.2-1.2,0-1.7l8.4-50.6c0.4-2.7,2.4-3.4,4.4-1.4l14.5,14.5l28.2-28.2l14.3,14.3l-28.2,28.2L96.3,186.1z M195.8,39.1l-50.6,8.4c-2.7,0.4-3.4,2.4-1.4,4.4l14.5,14.5l-28.2,28.2l14.3,14.3l28.2-28.2l14.5,14.5c1.9,1.9,4,1.3,4.4-1.4l8.4-50.6c0.5-1.8-0.6-3.6-2.4-4.2C197,39,196.4,39,195.8,39.1L195.8,39.1z'/%3E%3C/svg%3E%0A");
}

span.live {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' viewBox='0 0 360 240'%3E%3Cpath d='M354.777,40H5.048a5.013,5.013,0,0,0-5,5V194.9a5.013,5.013,0,0,0,5,5h349.73a5.013,5.013,0,0,0,5-5V45A4.95,4.95,0,0,0,354.777,40ZM80.011,139.9a20,20,0,1,1,19.99-20A19.99,19.99,0,0,1,80.011,139.9Zm99.352,10H145.879V88.7h10.795V140h22.689Zm20.99,0H189.158V88.7h11.195Zm40.081,0H227.439L210.847,88.7h11.195l11.994,45.2L246.23,88.7h11.394Zm56.073,0H264.821V88.7h30.085v9.9H275.516v15.6h16.292v9.4H275.516V140h20.89ZM355,40H5.051a5.016,5.016,0,0,0-5,5V195a5.016,5.016,0,0,0,5,5H355a5.016,5.016,0,0,0,5-5V45A4.953,4.953,0,0,0,355,40ZM80.061,139.962a20.013,20.013,0,1,1,20-20.013A20,20,0,0,1,80.061,139.962Zm99.414,10.006h-33.5V88.73h10.8v51.332h22.7Zm21,0h-11.2V88.73h11.2Zm40.106,0h-13l-16.6-61.238h11.2l12,45.228,12.2-45.228h11.4Zm56.108,0h-31.7V88.73h30.1v9.906h-19.4v15.61h16.3v9.406h-16.3v16.41h20.9ZM354.826,40H5a5.016,5.016,0,0,0-5,5V195a5.016,5.016,0,0,0,5,5H354.826a5.016,5.016,0,0,0,5-5V45A4.952,4.952,0,0,0,354.826,40ZM79.983,139.962a20.013,20.013,0,1,1,20-20.013A20,20,0,0,1,79.983,139.962Zm99.379,10.006H145.87V88.73h10.8v51.332h22.7Zm21,0h-11.2V88.73h11.2Zm40.092,0h-13l-16.6-61.238h11.2l12,45.228,12.2-45.228h11.4Zm56.088,0H264.845V88.73h30.094v9.906h-19.4v15.61h16.3v9.406h-16.3v16.41h20.9Z'/%3E%3C/svg%3E%0A");
}

span.spinner {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill:%23fff;' class='spinner' viewBox='0 0 240 240'%3E%3Cpath d='M120,186.667a66.667,66.667,0,0,1,0-133.333V40a80,80,0,1,0,80,80H186.667A66.846,66.846,0,0,1,120,186.667Z'/%3E%3C/svg%3E%0A");
}

span.seek-back {
    background-size: 32px !important;
    background-repeat: none repeat !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='3 0 41 41' style='fill:%23fff'%3E%3Cpath d='M21 18V6l-8.5 6'/%3E%3Cpath d='M31 18V6l-8.5 6'/%3E%3Cpath d='M11 18V6l-8.5 6'/%3E%3Cpath d='M41 18V6l-8.5 6'/%3E%3C/svg%3E");
    height: 100%;
    width: 35%;
    margin-left: 35%;
    background-color: transparent;
}

span.seek-forward  {
    background-size: 32px !important;
    background-repeat: none repeat !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='3 0 41 41' style='fill:%23fff;transform: scaleX(-1)'%3E%3Cpath d='M21 18V6l-8.5 6'/%3E%3Cpath d='M31 18V6l-8.5 6'/%3E%3Cpath d='M11 18V6l-8.5 6'/%3E%3Cpath d='M41 18V6l-8.5 6'/%3E%3C/svg%3E");
    height: 100%;
    width: 35%;
    margin-left: 35%;
    background-color: transparent;
}




button.back {
    background: url("https://cdn.nomercy.tv/svg/player/close.svg");
}

button.close {
    background: url("https://cdn.nomercy.tv/svg/player/close.svg");
    background-size: 30px;
    background-position: center;
}

button.quality {
    background: url("https://cdn.nomercy.tv/svg/player/settings.svg");
}

button.options {
    /* background: url("https://cdn.nomercy.tv/svg/player/options.svg"); */
    background: url("https://cdn.nomercy.tv/svg/player/audio-tracks.svg");
}

button.previous {
    background: url("https://cdn.nomercy.tv/svg/player/next.svg");
    transform: scale(-1, 1);
}

button.next {
    background: url("https://cdn.nomercy.tv/svg/player/next.svg");
}

button.seasons {
    background: url("https://cdn.nomercy.tv/svg/player/seasons.svg");
    background-size: 30px;
    background-position: center;
}

button.session {
    background: url("https://cdn.nomercy.tv/svg/player/session.svg");
}

button.play {
    background: url("https://cdn.nomercy.tv/svg/player/play.svg");
}

button.pause {
    background: url("https://cdn.nomercy.tv/svg/player/pause.svg");
    cursor: pointer;
}

button.unmuted {
    background: url("https://cdn.nomercy.tv/svg/player/volume-100.svg");
}

button.muted {
    background: url("https://cdn.nomercy.tv/svg/player/volume-0.svg");
}

button.fullscreen {
    background: url("https://cdn.nomercy.tv/svg/player/fullscreen.svg");
}

button.left-arrow {
    background: url("https://cdn.nomercy.tv/svg/player/left-arrow.svg");
    background-size: 35px;
    padding-top: 45px;
}

button.right-arrow {
    background: url("https://cdn.nomercy.tv/svg/player/right-arrow.svg");
}

button.uhd4k {
    background: url("https://cdn.nomercy.tv/svg/player/UHD4K.svg");
}

button.auto {
    background: url("https://cdn.nomercy.tv/svg/player/AUTO.svg");
}

button.hd1080P {
    background: url("https://cdn.nomercy.tv/svg/player/quality.svg");
}

button.fullscreen-not {
    background: url("https://cdn.nomercy.tv/svg/player/fullscreen-not.svg");
}

button.fast-rewind {
    background: url("https://cdn.nomercy.tv/svg/player/fast_rewind.svg");
}

button.fast-forward {
    background: url("https://cdn.nomercy.tv/svg/player/fast_forward.svg");
}

button.previous div {
    transform: scale(-1, 1);
    margin-left: -30px;
    margin-top: 23px;
    cursor: pointer;
}

.video-controls-center button {
    height: 20px;
    width: 21px;
    border: none;
    margin-right: -7px;
}

button.play.mobile {
    position: absolute;
    width: 20vw;
    height: 20vw;
    border: none;
    margin: 50vh 50vw;
    transform: translate(-50%, -50%);
}

svg {
    fill: #fff;
}

.jwplayer {
    z-index: 0 !important;
}

::cue {
	box-sizing: inherit;
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
		0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
		0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
		0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
		0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
		0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
		0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
		0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
		0 0 4px black, 0 0 4px black;
	z-index: 0;
	transform: translateY(-210px);
	-webkit-transform: translateY(-210px);
	-moz-transform: translateY(-210px);
	-ms-transform: translateY(-210px);
	-o-transform: translateY(-210px);
}


.player-message {
    position: absolute;
    right: 10rem;
    top: 4rem;
    font-size: xxx-large;
    width: 40rem;
    height: 4rem;
}

#subtitles {
    height: calc(100% - 3.6rem);
}

#languages {
    height: calc(100% - 3.6rem);
}

#qualities {
    height: calc(100% - 3.6rem);
}

#btn-play-mobile {
    height: 80px;
    width: 80px;
    top: 50vh;
    left: 50vw;
    position: absolute;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

@media (max-width: 900px) and (orientation: portrait) {

    #overlay-top {
        background-size: 95% 4.5rem;
    }

    #overlay button {
        width: 45px;
        height: 45px;
    }

    #overlay-bottom {
        height: 55px;
        z-index: 2;
    }

    button.play.mobile {
        display: none;
        pointer-events: all;
        margin: 26.5vh 49vw;
    }

    .video-overlay.active .video-controls-bottom {
        padding: 1rem 1rem;
        height: 100px;
        bottom: 0;
        position: sticky;
    }

    .video-controls-bottom {
        padding: 1rem 1rem;
        height: 100px;
        top: 97vh;
        justify-content: space-evenly;
    }

    #seasons-container img {
        transform: translateY(-50%);
        top: 35%;
        position: relative;
    }

    #slider-container {
        position: fixed;
        right: 5%;
        width: 90%;
        transition: all .3s linear;
        transition-delay: .2s;
    }

    #slider-pop {
        bottom: 10%;
    }
    #qualityMenu {
        left: 50vw;
        top: 30vh;
        transform: translate(-50%, -50%);
    }

    #overlay:not(.active) #slider-container {
        bottom: -10px;
        transition: all .3s linear;
        transition-delay: .2s;
    }

    #slider {
        position: relative;
        background: #d3d3d3;
        opacity: 0.7;
        cursor: pointer;
        height: 10px;
    }

    .time {
        height: 30px;
        margin-top: 5px;
        padding: 6px;
    }

    .video-controls-bottom .current-time {
        height: 25px;
        margin: 15px 5px;
    }

    .video-controls-bottom .remaining-time {
        height: 25px;
        margin: 15px 5px;
    }

    .player-message {
        position: absolute;
        display: none;
        right: 0rem;
        top: 16rem;
        font-size: x-large;
        width: 100%;
        height: 4rem;
    }

    .active #seasonsMenu {
        width: 100vw;
    }

    .active #optionsMenu {
        width: 100vw;
    }


    .active .vjs-text-track-cue {
        transform: translateY(-0);
    }

    .vjs-text-track-cue {
        top: 57vh !important;
    }
     .vjs-text-track-cue div {
        display: inline-block !important;
        font-size: 4.6vw !important;
        line-height: 5vw !important;
    }
}

@media (max-width: 1380px) and (orientation: landscape) {
    button.play.mobile {
        display: none;
        pointer-events: all;
    }

    #qualityMenu  {
        left: 5rem;
    }
    #qualityMenu button {
        width: 45px;
        height: 45px;
    }

    .subtitle-window {
        font-size: 2.2vw !important;
        line-height: 2.6vw;
        bottom: 25px;
        /* transition: all .7s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
    }

    .active .subtitle-window {
        bottom: calc((100vh / 2) / 2.4);
        font-size: 2.2vw !important;
        line-height: 2.6vw;
        /* transition: all .7s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
    }

    .player-message {
        right: 5rem;
        top: 3rem;
        font-size: x-large;
    }

    .active #optionsMenu {
        width: 100vw;
        right: 0;
    }

    .active #seasonsMenu {
        width: 45rem;
        right: 0;
    }

    .active #slider-container {
        bottom: 5rem;
    }

    #overlay-top {
        background-size: 90% 4.5rem;
    }

    #overlay-bottom {
        height: 5rem;
    }

    .active .vjs-text-track-cue {
        transform: translateY(-0);
    }

    .vjs-text-track-cue div {
        font-size: 2.6vw !important;
        line-height: 3vw !important;
    }
}

@media (max-width: 1581px) {}

@media (min-width: 1581px) {
    .seasonsMenu.active {
        width: 70vw;
    }

    #slider:hover {
        height: 15px;
        /* transform: translateY(-15%); */
    }

    #slider:hover span {
        height: 15px;
    }
}

@media (min-width: 2180px) {
    .active #slider-container {
        width: calc(100vw - 650px);
        margin-left: auto;
        margin-right: auto;
        transform: translateX(3%);
    }
}

@media (min-width: 3000px) {
    .active #slider-container {
        margin-left: auto;
        margin-right: auto;
        transform: translateX(0%);
        bottom: 43px;
        transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        transition-delay: .2s;
    }

}
.notification {
    transition: background 0.8s;
    pointer-events: none;
}

i {
    font-style: normal;
}

.animate-in {
    display: flex;
    animation: ripple 1s forwards;
}

.animate-in i {
    display: block;
}

.animate-in.forward i {
    padding-bottom: 2px;
}

.animate-in.forward i {
    animation: fadeInLeft 0.7s;
}

.animate-in.rewind i {
    animation: fadeInRight 0.7s;
}

.active .jw-text-track-display {
    transform: translateY(-50px);
}

.timeshift {
    margin-left: 20px;
}

.overview {
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    font-size: 11px;
}

.aspect-16-9 {
    width: calc((100% / 16) * 9);
}

.season-forward {
    cursor: pointer;
    min-height: 150px;
    max-height: 150px;
    width: inherit;
}

.season-list {
    height: 100%;
}

@media (min-width: 2567px) {
    .seasonsMenu.active {
        width: 30vw;
    }
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
}

.spinner:after {
    content: "";
    /* background-image: url("https://cdn.nomercy.tv/img/site-spinner.png"); */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='150.000000pt' height='150.000000pt' viewBox='0 0 150.000000 150.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cmetadata%3E%0ACreated by potrace 1.16, written by Peter Selinger 2001-2019%0A%3C/metadata%3E%3Cg transform='translate(0.000000,150.000000) scale(0.100000,-0.100000)' fill='%23ff0000' stroke='none'%3E%3Cpath d='M525 1486 c-67 -21 -199 -94 -254 -141 -179 -152 -271 -352 -271 -585 0 -337 209 -616 536 -717 75 -23 354 -27 376 -5 11 11 8 12 -17 6 -52 -14 -226 -8 -294 11 -412 108 -639 528 -494 915 34 91 94 179 172 253 83 78 151 118 261 153 93 29 124 54 114 88 -4 12 -12 24 -18 28 -16 11 -65 8 -111 -6z'/%3E%3C/g%3E%3C/svg%3E");

    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    position: absolute;
    width: inherit;
    height: inherit;
    animation: spinner-spin 1.1s linear infinite, 1 !important;
    -webkit-animation: spinner-spin 1.1s linear infinite, 1 !important;
}

@keyframes spinner-spin {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner-spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@media (orientation: portrait) {

    .subtitle-window {
        bottom: calc((100vh / 2) / 1.4);
        font-size: 16px;
        line-height: 18px;

    }

    .active .subtitle-window {
        bottom: calc((100vh / 2) / 1.4);
    }

}

.nextup {
    position: absolute;
    bottom: 13%;
    right: 10%;
    color: #222222;
    padding: 1rem 1.5rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* display: none; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nextup .bg {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    animation: bg-grow 5s linear;
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.75rem solid #222222;
}

@keyframes bg-grow {
    0% {
        right: 100%;
    }

    100% {
        right: 0;
    }
}

.live #slider-container {
    display: none;
}

.vjs-live .vjs-text-track-display {
    display: none;
}

.video-js:not(.vjs-fullscreen).vjs-live #overlay {
    z-index: 8;
    height: inherit;
    width: inherit;
    vertical-align: middle;
    position: unset;
}

.video-js:not(.vjs-live) {
    width: 100vw !important;
    height: 100vh !important;
}

.video-js.vjs-live {
    width: 100% !important;
    height: auto !important;
    overflow: hidden;
    contain: content;
}
.vjs-live video {
    max-height: calc(100vh - 4rem);
}

.subtitle-window,
.vjs-text-track-cue div {
    font-size: 1.6vw;
    line-height: 2vw;
    background-color: rgba(0, 0, 0, 0) !important;
    text-shadow: black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px !important;
}

.vjs-text-track-cue {
    transform: translateY(-25px);
}

.active .vjs-text-track-cue {
    transform: translateY(-5rem);
}

.vjs-text-track-cue-0 {
    display: none !important;
}

.video-js {
    background: #000;
}
.live.video-js {
    width: unset;
    height: unset;
}

.vjs-control-bar {
    display: none !important;
}

.vjs-big-play-button {
    display: none !important;
}

.vjs-text-track-settings {
    display: none !important;

}
.vjs-control-text {
    display: none !important;

}
.vjs-error-display {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: red;
}

video::-webkit-media-controls {
    display: none !important;
}
video::-webkit-media-controls-overlay-enclosure {
    display: none !important;
}
video::-webkit-media-controls-enclosure {
    display: none !important;
}

.live .vjs-text-track-display {
    display: none !important;
}
